@import "../../styles/all.css";

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.second-container{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 300px;
  border-top: 4px solid rgb(42, 38, 82);
  border-radius: 10px;
  background-color: hsl(244,34%,5%);
}

.result-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 26, 55);
  width: 280px;
  height: 30px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px 5px;
}

.result-container:hover{
  cursor: pointer;
  background-color: #3A3A83;
}

.icon-svg{
  width: 20px;
  height: 20px;
  color: white;
  margin-right: 10px;
}

.icon-svg:hover{
  color:blue;
}

.text-result{
  font-family: 'Muli', sans-serif; 
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.container-center{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottom-base-svg{
  display: flex;
  background-color: rgb(29, 26, 55);
  width: 125px;
  height: 50px;
  border-bottom: 10px solid rgb(42, 38, 82);
  margin: 0px 5px;
  margin-top: -30px;
  z-index: 0;
}

.result-container-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 26, 55);
  width: 400px;
  height: 80px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 0px;
}

.result-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 49, 102);
  width: 180px;
  height: 40px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px 0px;
}

.row-container{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.row-container-result{
  display: flex;
  flex-direction: row;
}

.column-container{
  display: flex;
  flex-direction: column;
}

.svg-animated-container{
   height: 100px;
}

.svg-animated{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: "column";
  z-index: 1;
  width: 100px;
}


@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .result-container-right{
    width: 320px;
  }
  .result-right{
    width: 130px;
    margin-right: 5px;
  }
  .bottom-base-svg{
    width: 130px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}