@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  border-radius: $border-radius 0 0 0;
}

.button {
  order: 4;

  margin-top: $spacing-36;

  @include Breakpoint-mobileOnly {
    order: 0;

    margin-top: 0;
  }
}

.element {
  margin-top: $spacing-20;
}

.amount {
  order: 1;
  margin-top: $spacing-20;
}

.content {
  order: 2;
}

.toggle {
  order: 0;

  @include Breakpoint-mobileOnly {
    order: 4;

    margin-top: $spacing-20;
  }

  div {
    height: 38px;
  }
}

.amount-title {
  margin-bottom: $spacing-4;
}

.amount-container {
  display: grid;
  grid-template-columns: 57% 43%;

  margin-top: $spacing-4;
}

.bet-properties{
  padding: $spacing-20;
}

.container{
 padding: 10px;
}

.second-container{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 200px;
  border-top: 4px solid rgb(42, 38, 82);
  border-radius: 10px;
  background-color: hsl(244,34%,5%);
}

.result-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 26, 55);
  width: 300px;
  height: 35px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px 5px;
}

.result-container:hover{
  cursor: pointer;
  background-color: #3A3A83;
}

.icon-svg{
  width: 20px;
  height: 20px;
  color: white;
  margin-right: 10px;
}

.icon-svg:hover{
  color:blue;
}

.text-result{
  font-family: 'Muli', sans-serif; 
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.container-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-base-svg{
  background-color: rgb(29, 26, 55);
  width: 125px;
  height: 50px;
  border-bottom: 10px solid rgb(42, 38, 82);
  margin: 0px 5px;
  margin-top: -30px;
  z-index: 0;
}

.result-container-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 26, 55);
  width: 400px;
  height: 80px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 10px 0px;
}

.result-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(54, 49, 102);
  width: 180px;
  height: 40px;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px 0px;
}

.row-container{
  display: flex;
  flex-direction: row;
}

.column-container{
  display: flex;
  flex-direction: column;
}

.svg-animated-container{
   height: 100px;
}

.svg-animated{
  position:absolute;
  z-index: 1;
  align-self: center;
}