@import "../../styles/all.css";

.progress {
  text-align: center;
  margin: auto;
  width: 220px;
}

.line {
  margin-top: $spacing-36;
}

.text {
  margin: $spacing-20 0;
  opacity: 0.8;
}

:global(.MuiLinearProgress-barColorPrimary) {
  background-color: $secondaryColor !important;
}

:global(.MuiLinearProgress-colorPrimary) {
  background-color: $backgroundColor-13 !important;
}
