
@import "../../styles/all.css";


.form{
    max-width: 600px;
    margin : $spacing-20 auto;
    padding : $spacing-20;
    background-color : $widget-container-border-color;
    background: $background-color-theme;
    border-radius: $border-radius;
}
.text{

}

.toggle{
    margin-top: -13px;
    float: right;
}