@import "../../styles/all.css";

$values-height: 22px;
$with-without-padding: calc(100% - $spacing-20 - $spacing-20);

.root {
    display: grid;
    grid-template-rows: 1fr $values-height;
  
    height: inherit;
    min-width: 400px;
  
    padding: $spacing-20;
  
    background-color: $background-main-table;

    @include Breakpoint-mobileOnly {
      padding: 0;
      min-width: 300px;
    }
  }
  

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(100% - $values-height) $values-height;

  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  align-items: center;

  width: 100%;
}

.slider-container {
  width: 96%;
  margin: 0 auto;
}

.values {
  width: calc(100% - $spacing-16 - $spacing-16);
  padding: $spacing-16;
  margin: auto;
  background-color: $background-table-1-outer;

  border-radius: $spacing-4;
}

.values-container {
  display: grid;

  grid-column-gap: $spacing-20;
  grid-template-columns:
    calc($with-without-padding / 3) calc($with-without-padding / 3)
    calc($with-without-padding / 3);

  width: 100%;
}

.canvas {
  text-align: center;
}

.popular-number-container{
    padding : 10px;
    width: 40px;
    margin-bottom : 5px;
    text-align: center;
    display: inline-block;
    border-radius : 4px;
}

.popular-number-container-amount{
    padding : 10px;
    padding-top : 5px;
    width: 30px;
    text-align: center;
    display : inline-flex;
    border-radius : 4px;
}

.popular-number-row{
    margin-left : -30px;
}


.green-square{
    background-color : $green;
}

.blue-square{
    background-color : $roulette-blue-color;
}

.red-square{
    background-color : $red;
}

.outer-popular-numbers{
    width : 110px;
    border : 2px solid $dark-table-color;
    height: 30%;
    background-color : $popular-numbers-container;
    left : 20px;
    border-radius : 5px;
    text-align: center;
    top : 20px;
    overflow-y : auto;
    overflow-x : hidden;
    position : absolute;

    @include Breakpoint-mobileOnly {
        margin-top: -50px !important;
        display: none;
    }
}

.inner-popular-numbers{
    width : 100%;
    height: auto;
    overflow-y: hidden;
    margin : 6px;
    text-align: center;
    overflow-x: hidden;
    position : relative;
}


.pegs {
  height: 2em;
  width: 540px;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  justify-content: center;

  @media screen and (max-width: 1267px) and (min-width: 1024px) {
      width: 400px;
  }
  
  @media screen and (max-width: 1023px) and (min-width: 768px) {
      width: 420px;
  }
  
  @media screen and (max-width: 767px) {
      width: 260px;
  }
}

.pegs_wrapper {
  display: grid;
  height: 100%;
  position: relative;
  gap: 1% 1%;
  width: 100%;
  padding: 0 20px;

  @media screen and (max-width: 767px) {
      padding: 0 0;
      gap: 1px 1px;
  }
}

.peg1{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(153, 0, 38) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 0, 63);
}
.peg2{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(177, 0, 24) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 24, 55);
}
.peg3{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(200, 1, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 48, 47);
}
.peg4{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(192, 29, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 72, 39);
}
.peg5{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(185, 53, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 96, 32);
}
.peg6{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(177, 74, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 120, 24);
}
.peg7{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(169, 91, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 144, 16);
}
.peg8{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(161, 104, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 168, 8);
}
.peg9{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(153, 115, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 192, 0);
}
.peg10{
  position: relative;
  cursor: help;
  text-align: center;
  box-shadow: rgb(161, 104, 0) 0px 0.2em 0px 0px;
  animation-duration: 300ms !important;
  border-radius: 0.3em;
  background: rgb(255, 168, 8);
}

.pegtext{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 700;
}

.peg {
    grid-row: 1 / auto;
    font-size: 10px;
    width: 46px;
    transition: all 300ms linear;
    margin: auto;
    height: 30px;
    padding-top : 7px;

    @media screen and (max-width: 1267px) and (min-width: 1024px) {
        width: 32px;
    }
    
    @media screen and (max-width: 1023px) and (min-width: 768px) {
        width: 34px;
    }
    
    @media screen and (max-width: 767px) {
        order: 0;
        width: 24px;
        padding-top : 4px;
        height: 20px;
    }
}

.peg-animated{
    height: 50px;
    top : 5px;

}

.canvas-container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-36;
}

.pegs.rows8 .pegs_wrapper {
  width: 71%;
  gap: 1% 2%;
}
.pegs.rows9 .pegs_wrapper {
  width: 100%;
}

.ant-btn.bet-btn{
  max-width: 350px!important;
}


.canvas-container > div > canvas {
  width: 680px;

  @media screen and (max-width: 1267px) and (min-width: 1024px) {
      width: 480px;
  }
  
  @media screen and (max-width: 1023px) and (min-width: 768px) {
      width: 520px;
  }
  
  @media screen and (max-width: 767px) {
      width: 350px;
  }
  
}

.result {

  h6 {
      color: $white;
      font-family: $font-family;
      font-size: $font-size-h3;
      font-weight: 600;
      line-height: $line-height-h2;
      text-align: center;
      padding-top: $spacing-8;
  }
}