@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  height: calc(100% - $spacing-20 - $spacing-20);

  padding: $spacing-20;

  background: $background-table-1;
}

.container-root{
    display: flex;
    width : 300px;
    height: 100px;
    margin : 10px auto;
    padding : $spacing-20;
    background: $black;
    border-radius : $border-radius;
    opacity : 1;
    transition: all 0.2s ease-in;

    @include Breakpoint-mobileOnly {
        width : 200px;
    }
}

.picked{
    border : 1px solid $green;
    box-shadow : 1px 10px 100px 10px $black;
}

.text-description{
    margin-top : 10px;
}

.payment-image{
    width: 40px;
    margin-top: 15px;
}

.container-text{
    width: 150px;
    text-align: left;
}

.container-image{
    width : 50px;
}

.nohover{
    cursor: pointer !important;

    &:hover{
        opacity : 1 !important;
    }
}

.alert{
    border : 1px solid $red;
    box-shadow : 1px 10px 100px 10px $black;
}

.onLoading{
    border : 1px solid $orange;
    box-shadow : 1px 10px 100px 10px $black;
}

.loading-gif{
    width: 30px;
    margin-top: 15px;
    margin-left : 10px;
}