@import "../../styles/all.css";

.root {
  text-align: center;

}

.user-box{

}

.container {
  justify-content: center;

  grid-column-gap: $spacing-28;
  grid-row-gap: $spacing-28;

  grid-template-columns: repeat(3, 290px);

  @include Breakpoint-tabletOnly {
    grid-template-columns: 1fr;
  }

  @include Breakpoint-mobileOnly {
    grid-template-columns: 1fr;
  }
}

.coin {
  background-color: $tree-poppy;

  border-radius: 50%;

  box-shadow: inset 0 0 15px color($red alpha(50%));
}

.container-small{
    margin-top : 40px;
}

.main-container{

    justify-content: center;
    grid-column-gap: $spacing-28;
    grid-row-gap: $spacing-28;
    max-width : 100%;
    margin-left : 2%;
    grid-template-columns: repeat(3, 290px);
    margin-top : 0px;
    @include Breakpoint-tabletOnly {
        margin: 0 auto;
        margin-top : 20px;
    }

    @include Breakpoint-mobileOnly {
        margin: 0 auto;
        margin-top : 100px;
        padding: 30px;
    }
}