@import "../../styles/all.css";

.root {
  display: flex;
}

.toggle {
  padding: $spacing-8;

  background: $primaryColor-8;

  cursor: pointer;

  outline: none;

  transition: background 300ms ease 0s;
}

.toggle:hover {
  background-color: $primaryColor-13;
}

.toggle-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: $spacing-4;
}

.toggle-right {
  border-top-right-radius: $spacing-4;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.toggle.selected {
  background: $secondaryColor;
  transition: background 300ms linear;

  * {
    color: white;
  }
}

.toggle.selected:hover {
  background-color: $background-main-table;
}

.toggle.medium {
  width: $three-columns;
}

.toggle.selected.red {
  background-color: $red;
}

.toggle.selected.tree-poppy {
  background-color: $tree-poppy;
}

.toggle.auto {
}

.toggle.full {
  width: 100% !important;
}
