@import "../../../../../styles/all.css";


.pegs {
    height: 2em;
    display: flex;
    margin: auto;
    -webkit-box-pack: center;
    justify-content: center;
  }

.pegs_wrapper {
  display: grid;
  height: 100%;
  position: relative;
  gap: $spacing-4;
  width: 100%;
  padding: 0 20px;

  @media screen and (max-width: 767px) {
    padding: 0;
  } 
}

.pegs.rows8 .pegs_wrapper {
  width: 71%;
  gap: 1% 2%;
}
.pegs.rows9 .pegs_wrapper {
  width: 100%;
}


.peg {
    grid-row: 1 / auto;
    font-size: 10px;
    width: 46px;
    transition: all 300ms linear;
    margin: auto;
    height: 30px;
    padding-top : 7px;
    opacity: 0.3;

    @media screen and (max-width: 767px) {
      width: 28px;
      height: 26px;
    }
}

.result {
    opacity: 1;
}


.peg1{
    position: relative;
    cursor: help;
    text-align: center;
    box-shadow: rgb(153, 0, 38) 0px 0.2em 0px 0px;
    animation-duration: 300ms !important;
    border-radius: 0.3em;
    background: rgb(255, 0, 63);
}
  
.peg7{
    position: relative;
    cursor: help;
    text-align: center;
    box-shadow: rgb(169, 91, 0) 0px 0.2em 0px 0px;
    animation-duration: 300ms !important;
    border-radius: 0.3em;
    background: rgb(255, 144, 16);
}

.peg10{
    position: relative;
    cursor: help;
    text-align: center;
    box-shadow: rgb(161, 104, 0) 0px 0.2em 0px 0px;
    animation-duration: 300ms !important;
    border-radius: 0.3em;
    background: rgb(255, 168, 8);
}
  