@import "../../styles/all.css";

.container {
  position: relative;
  height: auto;
  text-align: left;
  padding: $spacing-12 $spacing-52;
  z-index: 1;
}

.announcement-text {
  font-size: $font-size-small-body;
  font-family: $font-family;

  @include Breakpoint-mobileOnly {
    font-size: $font-size-small-body-mobile;
    border-radius: 0 $border-radius $border-radius 0;
  }
}
