@import "../../styles/all.css";

$with-without-padding: calc(100% - $spacing-20 - $spacing-20);

.root {
  padding: $spacing-20;
  background-color: $background-main-table;
  border-radius: 0 $border-radius $border-radius 0;

  @include Breakpoint-mobileOnly {
    padding: 0;
  }
}

.container {
  width: 100%;
  display: grid;
  justify-items: center;
  padding: 1em;
  gap: 1em;
}

.chances {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  position: relative;
  min-height: 1em;
  gap: 1em;

}

.payouts {
  display: grid;
  gap: 1em;

  @include Breakpoint-mobileOnly {
    gap: 0.3em;
  }
}

.payouts-1 {
  grid-template-columns: repeat(2, 1fr);
}

.payouts-2 {
  grid-template-columns: repeat(3, 1fr);
}

.payouts-3 {
  grid-template-columns: repeat(4, 1fr);
}

.payouts-4 {
  grid-template-columns: repeat(5, 1fr);
}

.payouts-5 {
  grid-template-columns: repeat(6, 1fr);
}

.payouts-6 {
  grid-template-columns: repeat(7, 1fr);
}

.payouts-7 {
  grid-template-columns: repeat(8, 1fr);
}

.payouts-8 {
  grid-template-columns: repeat(9, 1fr);
}

.payouts-9 {
  grid-template-columns: repeat(10, 1fr);
}

.payouts-10 {
  grid-template-columns: repeat(11, 1fr);
}

.payout {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.12) 0px 2px 4px -1px;
  padding: 1em 0px;
  border-radius: $border-radius;
  background: $primaryColor-5;

  @include Breakpoint-mobileOnly {
    height: 20px;
  }

  p {
    @include Breakpoint-mobileOnly {
      font-size: 10px !important;
      padding: 0.5em 0px;
    }
  }

}

.hits {
  position: relative;
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.12) 0px 2px 4px -1px;
  border-radius: $border-radius;
  background: $primaryColor-5;
  gap: 1em;

  @include Breakpoint-mobileOnly {
    gap: 0.2em;
  }
}

.hits-1 {
  grid-template-columns: repeat(2, 1fr);
}

.hits-2 {
  grid-template-columns: repeat(3, 1fr);
}

.hits-3 {
  grid-template-columns: repeat(4, 1fr);
}

.hits-4 {
  grid-template-columns: repeat(5, 1fr);
}

.hits-5 {
  grid-template-columns: repeat(6, 1fr);
}

.hits-6 {
  grid-template-columns: repeat(7, 1fr);
}

.hits-7 {
  grid-template-columns: repeat(8, 1fr);
}

.hits-8 {
  grid-template-columns: repeat(9, 1fr);
}

.hits-9 {
  grid-template-columns: repeat(10, 1fr);
}

.hits-10 {
  grid-template-columns: repeat(11, 1fr);
}

.hit {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  white-space: nowrap;
  position: relative;
  padding: 1em 0px;

  @include Breakpoint-mobileOnly {
    height: 20px;
  }

  p {
    @include Breakpoint-mobileOnly {
      font-size: 10px !important;
      padding: 0.5em 0px;
    }
  }

  svg {
    opacity: 0.15;
    height: $spacing-16;
    margin-left: $spacing-4;

    @include Breakpoint-mobileOnly {
      height: $spacing-12;
      margin-left: 2px;
    }
  }
  
}

.popular-number-container{
    padding : 10px;
    width: 40px;
    margin-bottom : 5px;
    text-align: center;
    display: inline-block;
    border-radius : $border-radius;
}

.popular-number-container-amount{
    padding : 10px;
    padding-top : 5px;
    width: 30px;
    text-align: center;
    display : inline-flex;
    border-radius : $border-radius;
}

.popular-number-row{
    margin-left : -30px;
}

.outer-popular-numbers{
    width : 110px;
    border : 2px solid $dark-table-color;
    height: 40%;
    background-color : $popular-numbers-container;
    left : 20px;
    border-radius : $border-radius;
    text-align: center;
    top : 20px;
    overflow-y : auto;
    overflow-x : hidden;
    position : absolute;

    @include Breakpoint-mobileOnly {
      height: 45%;
      display: none;
    }
}

.inner-popular-numbers{
    width : 100%;
    height: auto;
    overflow-y: hidden;
    margin : 6px;
    text-align: center;
    overflow-x: hidden;
    position : relative;
}

.won {
  opacity: 0.95;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.87, -0.41, 0.19, 1.44);
  background: $primaryColor;
  border-radius: $border-radius;
  border: 3px solid $secondaryColor;
  border-image: initial;

  @include Breakpoint-mobileOnly {
    top: 35%;
  }
}

.won-1 {
  text-align: center;
  width: 100%;
  padding: $spacing-8;

  p {
    color: #6fde73;
    margin: $spacing-8 $spacing-4;
  }
}

.currency {
  display: inline-flex;
  padding: $spacing-12 $spacing-28;

  img {
    margin-left: $spacing-4;
  }

  p {
      margin-top: 0;
  }

  @include Breakpoint-mobileOnly {
    padding: 0;
  }

}

.highlight {
  svg{
    opacity: 1;
  }
}

.show-chance {
  padding: $spacing-8 $spacing-16;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  top: $spacing-16;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%) scale(1);
  background: $primaryColor-8;
  border-radius: $border-radius;
}

.label{
  padding: $spacing-8 0;
}

.text{
  width : 100%;
  padding: $spacing-8 $spacing-16;
  overflow: hidden;
  border-radius : $border-radius;
  background-color : $primaryColor-2;
  word-break: break-all;
  text-align: left;
}