@import "../../styles/all.css";

.title {
  height: 50px;
  background-color: $primaryColor-3;
  display: flex;
  align-items: center;
  padding-left: 15%;
  border-radius: $border-radius $border-radius 0 0;
  border-bottom: 1px solid $secondaryColor;
}

.row {
    display: flex;
    align-items: center;
    height: 48px;
    padding-left: $spacing-28; 
}

.icon {
    width: 30px;
    margin-right: 20px;

    img {
      width: 22px;
    }
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    cursor: pointer;
    padding: $spacing-28;
    background-color: $backgroundColor-2;
  
    .user-icon {
      width: 50px;
      background-color: $primaryColor-2;
      border-radius: 25px;
    }

  }

.label-points {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  cursor: pointer;
  padding: 0 $spacing-16;
  background-color: $backgroundColor-2;
  border-radius: $border-radius 0 0 0;

  .currency-icon {
      margin-right: $spacing-8;
  }

  span {
      margin-left: $spacing-8;
  }
}

.points {
  display: inline-flex;
  align-items: center;
  margin-left: $spacing-36;
  display: none;

  @media screen and (max-width: 1267px) and (min-width: 1024px) {
      display: none;
  }
  
  @media screen and (max-width: 1023px) and (min-width: 768px) {
      display: inline;
  }
  
  @media screen and (max-width: 767px) {
      display: inline;
  }
}