
@import "../colors.css";

$wheel-variation-1-color-1 : #253742;
$wheel-variation-1-color-2 : #97a2c3;
$wheel-variation-1-color-3 : #8854f8;
$wheel-variation-1-color-4 : #3e5ba5;
$wheel-variation-1-color-5 : #538e7b;
$wheel-variation-1-color-6 : #1ab598;
$wheel-variation-1-color-7 : #b7e24f;
