
@import "../colors.css";

$wheel-variation-1-color-1 : #000000;
$wheel-variation-1-color-2 : #17162d;
$wheel-variation-1-color-3 : #00b050;
$wheel-variation-1-color-4 : #ffc100;
$wheel-variation-1-color-5 : #ff0000;
$wheel-variation-1-color-6 : #ff8d00;
$wheel-variation-1-color-7 : #92d050;
