
@import "../colors.css";

$wheel-variation-1-color-1 : $smoky-grey;
$wheel-variation-1-color-2 : $nepal;
$wheel-variation-1-color-3 : $olive;
$wheel-variation-1-color-4 : $yellow;
$wheel-variation-1-color-5 : $orange;
$wheel-variation-1-color-6 : $cornflower-blue;
$wheel-variation-1-color-7 : $red;
