@import "../../../styles/all.css";

.root {
    position: relative;
    display: block;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding: $spacing-28 $spacing-20;

  @include Breakpoint-mobileOnly {
    width: 320px;
    padding : $spacing-28 0;
    margin: auto;
    position: relative;
    display: block;
    overflow-x: auto !important;
  }
}

.image-icon {
  width : 60px;
}

.rule-h1 {
  text-align: center;
}

.tabs {
    width: 100%;
}

.rule {
  width: 100%;
  justify-items: center;
  padding-top: 16px;
}

.content {
  width: 100%;
  background: $dark-table-color;
  padding: 1.8em;
  border-radius: 0.3em;
}

.grid-items{
  display: grid;
  grid-template-columns: auto auto auto;
}

.icon-rule{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 190px;
  height: 100px;
  border: 1px solid rgb(133, 138, 199);
  border-radius: 2px;
  ṕadding: 15px;
  margin: 5px;
}

.beetle-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 660px;
  height: 100px;
  border: 1px solid rgb(133, 138, 199);
  border-radius: 2px;
  ṕadding: 15px;
  margin: 5px;
}

.beetle-text{
  display: flex;
  align-items: center;
  margin: 0px 50px;
  height: 100px;
}

.icon{
  width: 100px;
  height: 75px;
  z-index: 2;
}


.column-numbers{
  display: flex;
  flex-direction: column;
}

.row-number{
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.margin-right{
 margin-right: 5px;
}