@import "../../../styles/all.css";


.teams {
    display: flex;
    flex-direction: row;
    flex: 1.2;
    justify-content: space-between;
    min-width: 280px;
  }

.team {
  height: $spacing-36;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  justify-self: center;
  align-self: center;
  background-color: $primaryColor-5;
  border-radius:  0 $border-radius $border-radius 0;
  text-align: left;

  img {
    margin-right: $spacing-8;
    margin-left: 0;
  }

  @media screen and (max-width: 767px) {
    min-width: 86px;
    white-space: normal;
    padding: 0 $spacing-8;

    img {
      margin-right: $spacing-8;
    }
  } 
}

.team:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
}

.team1:before {
  right: -20px;
  border-left: 20px solid $primaryColor-5;
}

.team2:before {
  left: -20px;
  border-right: 20px solid $primaryColor-5;
}

.team1:before {
  right: -20px;
  border-left: 20px solid $primaryColor-5;
}

.team1:hover, .team2:hover {
  background-color: $primaryColor-13;
}

.team1:hover:before {
  border-left: 20px solid $primaryColor-13;
}

.team2:hover:before {
  border-right: 20px solid $primaryColor-13;
}

.team-score-board {
  background-color: unset;
}

.team-score-board:before {
  border-top: unset;
  border-bottom: unset;
}

.draw {
  width: 56px;
  height: 100%;
  text-align: center;
  background-color: $primaryColor-5;
  border-radius: $border-radius;
  padding: $spacing-4;
  align-items: center;
}

.selected {
  background-color: $secondaryColor;
}

.selected:hover {
  background-color: $secondaryColor;
}
  
.teams .team:first-child {
    flex-direction: row-reverse;
    text-align: right;
    border-radius: $border-radius 0 0 $border-radius;
  
    img {
      margin-left: $spacing-8;
      margin-right: 0;
    }
}

.team1.selected:before {
  border-left: 20px solid $secondaryColor;
}

.team2.selected:before {
  border-right: 20px solid $secondaryColor;
}
  
.score {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 $spacing-28;
    
  @media screen and (max-width: 1267px) and (min-width: 1024px) {
    margin: 0 $spacing-4;
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    margin: 0 $spacing-4;
  } 

  @media screen and (max-width: 767px) {
    margin: 0 $spacing-4;
  } 
}
  
.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 $spacing-28;
    max-width: 112px;
  
    @media screen and (max-width: 1267px) and (min-width: 1024px) {
      margin: 0 $spacing-4;
    }
  
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      margin: 0 $spacing-4;
    } 
  
    @media screen and (max-width: 767px) {
      margin: 0 $spacing-4;
    } 
}

.group {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.name {
  margin: 0 $spacing-8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    margin-top: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }
  
  @media screen and (max-width: 1267px) and (min-width: 1024px) {
    margin: 0 $spacing-4;
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    margin: 0 $spacing-4;
  } 

  @media screen and (max-width: 767px) {
    margin: 0 $spacing-4;
  } 
}

@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0.4em); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.1em); opacity: 0.9; visibility: hidden; }
}
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0.1em); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9; visibility: hidden; }
}

.arrow {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0.3em;
  display: block;
  height: 10px;
  transform-origin: 50% 50%;
  width: 10px;

  z-index: 30;
}
.up {
  -webkit-animation: uparrow 0.6s 5 alternate ease-in-out;
  border-bottom: 0.5em solid #7BD389;
  animation-fill-mode: forwards;
}
.down {
  -webkit-animation: downarrow 0.6s 5 alternate ease-in-out;
  border-top: 0.5em solid #ed5968;
  animation-fill-mode: forwards;
}

.lock-icon-background {
  padding: 5px;
  width: fit-content;

  border-radius: 50%;

  background-color: $secondaryColor;
  opacity: 0.8;

  position: absolute;

  margin-top: 5px;
  margin-left: 5px;

  @media screen and (max-width: 767px) {
    margin-bottom: -35px;
  } 
}