@import "../../../styles/all.css";


.filter-tournaments {
  margin: $spacing-12 0;
  display: flex;
}

.tournament {
  display: inline-flex;
  margin: 0 $spacing-8 $spacing-8 0;
  background-color: $primaryColor;
  padding: $spacing-4 $spacing-12;
  border-radius: 24px;
  align-items: center;
  height: 36px;
  cursor: pointer;  
}

.tournament-name {
  margin-left: $spacing-8;
}

.all {
    float: left;
    background-color: $primaryColor;
    padding: $spacing-12 $spacing-20;
    border-radius: 24px;
    margin: 0 $spacing-12 0 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    height: 36px;
}
  
.all-selected {
    margin-left: $spacing-8;
    background-color: $secondaryColor;
    border-radius: 20px;
    padding: $spacing-4;
    border-radius: 50%;
}

.tourSelected {
  background-color: $secondaryColor;
}