@import "../../styles/all.css";

.tabs{
    width: 100%;
    grid-auto-flow: column;
    display: grid;
    align-items: center;
    gap: $spacing-8;

    @media screen and (max-width: 767px) {
        gap: $spacing-4;
    }
}