@import "../../styles/all.css";

.tabs{
    width: 100%;
    grid-auto-flow: column;
    display: grid;
    align-items: center;
    gap: 0;
}

.tabs > div:first-child {
    border-radius: $border-radius 0 0 $border-radius;
}

.tabs > div:last-child {
    border-radius: 0 $border-radius $border-radius 0;
}

.tabs > div {
    border-left: 1px solid rgba(201, 200, 200, .2);;
}

.tabs > div:first-child {
    border-left: none;
}