@import "../../styles/all.css";

.box {
    padding: $spacing-8 12%;
}

.field{
    grid-template-columns: auto auto;
    display: grid;
    margin-bottom: $spacing-20;
}

.label{
    text-align: left;
    margin: auto 0;
}

.value{
    justify-content: flex-end;
    display: inline-flex;
}

.button{
    margin-top : $spacing-36;
}