@import "../../styles/all.css";

.main{
    padding : $spacing-20;
}

.button{
    background-color: $secondaryColor; 
    margin : auto;
    position: relative;
    display: block;
    padding : $spacing-8 $spacing-28;
    border-radius : $border-radius;
}

.confirm {
    padding : $spacing-20 0 $spacing-52 0;
    grid-template-columns: min-content auto;
    display: grid;
}

.check {
    margin-right: $spacing-16;
}

.check-text {
    margin-top: calc($spacing-20 + 2px);
}

.disabled {
    opacity: 0.5;
}
