@import "../../../styles/all.css";


.bets-menu {
    background-color: $primaryColor-2;
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.41961);
    padding: $spacing-12 $spacing-12 $spacing-20 $spacing-12;
}
  
.bets-title {
    padding: $spacing-20;
    text-align: center;
}

.bets-placar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding-bottom: $spacing-20;
}

.bets-placar-3 {
    grid-template-columns: 1fr 1fr 1fr;

    svg {
        height: 30px;
        width:  14px;
        margin: 8px 0;
    }
}

.bets-player{
}

.bets-team {
    background-color: $primaryColor-8;
    text-align: center;
    padding: $spacing-8 $spacing-8;
    border-radius: $border-radius;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
    }

    * {
        margin: $spacing-8 0;
    }
}

.bets-team:hover {
    @media screen and (min-width: 767px) {
        background-color: $secondaryColor-8;
    } 
}

.bet-option {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    padding-bottom: $spacing-20;
    border-bottom: 1px solid $backgroundColor;
}

.option-team {
    display: flex;
    background-color: $primaryColor-8;
    padding: $spacing-12;
    border-radius: $border-radius;
    justify-content: space-between;
    cursor: pointer;
}

.option-team:hover {
    background-color: $secondaryColor-8;
}

.selected {
    background-color: $secondaryColor;
}

.group {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
  
.left {
    justify-content: center;
}
  
.right {
    justify-content: center;
}

@-webkit-keyframes uparrow {
    0% { -webkit-transform: translateY(0.4em); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.1em); opacity: 0.9; visibility: hidden; display: none; }
}
@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0.1em); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9; visibility: hidden; display: none; }
}
  
.arrow {
    border-color: transparent;
    border-style: solid;
    border-width: 0 0.3em;
    display: block;
    height: 10px;
    transform-origin: 50% 50%;
    width: 10px;
}
.up {
    -webkit-animation: uparrow 0.6s 5 alternate ease-in-out;
    border-bottom: 0.5em solid #7BD389;
    animation-fill-mode: forwards;
}
.down {
    -webkit-animation: downarrow 0.6s 5 alternate ease-in-out;
    border-top: 0.5em solid #ed5968;
    animation-fill-mode: forwards;
}
  