@import "../../styles/all.css";

.email-confirmation{
    padding: $spacing-20 $spacing-28;
    width: 300px;
    display: block;
    margin: auto;
    background-color: $primaryColor-8;
    border-radius: $border-radius;
    box-shadow: $shadowColor 0px 0px 10px;
}

.email-title{
    margin-bottom: $spacing-16;
    padding-bottom: $spacing-8;
    border-bottom: 1px solid $primaryColor-13;
    display: grid;
    grid-template-columns: 30% 55%;
    align-items: center;
}

.email-content{
    
}

.email-text{
    text-align: left;
    p {
        line-height: $spacing-16;
    }

    p:first-child {
        line-height: $spacing-28;
    }
}

.email-buttons{
    display: flex;
    margin: $spacing-28 0 $spacing-8 0;
}

.button{
    margin: auto;

    div {
        display: flex;
        align-items: center;
    }
}

.blur {
    filter: blur(5px);
}

.icon {
    justify-content: flex-end;
    display: inline-flex;
    
    svg {
        width: 40px;
    }
}