@import "../../styles/all.css";

.root {
  display: grid;
  align-content: space-between;
  justify-items: center;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-areas: "Result Wheel LastBets" "Board Board Board" "ChipControls ChipControls ChipControls";
  box-sizing: border-box;
  min-width: 300px;
  border-radius: 0 $border-radius $border-radius 0;

  gap: $spacing-16;

  padding: $spacing-36;

  background-color: $background-main-table;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .root {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .root {
    display: block;
    grid-template-columns: auto auto;
    grid-template-areas: "Result Board" "LastBets Board" "ChipControls ChipControls";
  }
}

.popular-number-container {
  padding: 10px;
  width: 44px;
  margin-bottom: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}

.popular-number-container-amount {
  padding: 10px 0px 10px 10px;
  padding-top: 5px;
  text-align: center;
  display: inline-flex;
  border-radius: 4px;
}

.popular-number-row {
  text-align: left;
}

.result-container {
  grid-area: Result / Result / Result / Result;
  display: flex;
  margin-left: 30%;
  align-items: center;
  justify-content: center;

  @include Breakpoint-mobileOnly {
    height: 140px;
    margin-top: 500%;
  }
}

.green-square {
  background-color: $green;
}

.blue-square {
  background-color: $roulette-blue-color;
}

.red-square {
  background-color: $red;
}

.outer-popular-numbers {
  border: 2px solid $dark-table-color;
  background-color: $popular-numbers-container;
  left: 20px;
  border-radius: 5px;
  text-align: center;
  top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.inner-popular-numbers {
  height: auto;
  overflow-y: hidden;
  text-align: center;
  overflow-x: hidden;
  position: relative;
  padding: 10px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;

  border-radius: 6px;
  opacity: 0;

  h4 {
    color: white;

    font-family: $font-family;
    font-size: $font-size-h4;
    font-weight: 600;
    line-height: $line-height-h4;
  }
}

.result.picked {
  background-color: $background-table-1;
  opacity: 1;

  transition: all 100ms linear;
}

.result.red {
  background-color: $red;
  opacity: 1;

  transition: all 100ms linear;
}

.result.green {
  background-color: $japanese-laurel;

  opacity: 1;

  transition: all 100ms linear;
}

.wheel {
  padding-left: 60px;
  margin-top: 60px;
  width: 100%;
  grid-area: Wheel / Wheel / Wheel / Wheel;

  @include Breakpoint-mobileOnly {
    width: 300px;
    padding-left: $spacing-12;
    margin: auto;
  }
}

@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.board {
  position: relative;
  grid-area: Board / Board / Board / Board;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 750px;

  @include Breakpoint-mobileOnly {
    margin-top: 0px;
    padding-top: 40px;
  }
}

.board-top {
  @include Breakpoint-desktopOnly {
    position: absolute;

    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;

    background-color: color($background-main-table alpha(60%));

    opacity: 0;

    transition: opacity 100ms linear;
  }
}

.board-top.block {
  @include Breakpoint-desktopOnly {
    z-index: 4;

    opacity: 1;

    transition: opacity 100ms linear;
  }
}

.chip-controls {
  grid-area: ChipControls / ChipControls / ChipControls / ChipControls;
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  width: 100%;

  box-pack: justify;

  box-align: center;
}

.clear-button {
  display: flex;
  flex-direction: row;
  padding: $spacing-4;

  margin-top: 20px;

  background-color: $background-main-table;

  cursor: pointer;

  outline: none;

  svg {
    width: 22px;

    background-color: $background-main-table;

    fill: $casper;
    outline: none;
  }
}

.animation {
  @include Breakpoint-mobileOnly {
    display: block;
  }

  .wheel {
    @include Breakpoint-mobileOnly {
      display: block;
    }
  }

  .result-container,
  .chip-controls,
  .board {
    @include Breakpoint-mobileOnly {
      display: none;
    }
  }
}

.multiplier-0 {
  background-color: $wheel-variation-1-color-1;
}

.multiplier-0-light {
  background: $wheel-variation-1-color-1-light;
}

.multiplier-1 {
  background-color: $wheel-variation-1-color-2;
}

.multiplier-1-light {
}

.multiplier-2 {
  background-color: $wheel-variation-1-color-3;
}

.multiplier-2-light {
}

.multiplier-3 {
  background-color: $wheel-variation-1-color-4;
}

.multiplier-3-light {
}

.multiplier-4 {
  background-color: $wheel-variation-1-color-5;
}

.multiplier-4-light {
}

.multiplier-5 {
  background-color: $wheel-variation-1-color-6;
}

.multiplier-5-light {
}

.multiplier-6 {
  background-color: $wheel-variation-1-color-7;
}

.multiplier-6-light {
}
