@import "../../styles/all.css";

.container-init {
    display: flex;
    align-items: center;
    padding: 200px;
    justify-content: center;
    overflow: hidden;
  }

  .container-result{
    height: 250px;
    width: 100px;
    position: relative;
    padding: $spacing-8 0px;
    background-color: $primaryColor-5;
    border-radius: $border-radius;
    margin: 5px;
  }

  .bottom-base{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
    border-radius: 0px 0px $border-radius $border-radius;
    background-color: $primaryColor-13;
  }

  .indicator{
      top: 370;
      bottom: 0;
      z-index: 1;
      position: absolute;
  }

  .container-row{
      display: flex;
      flex-direction: row;
  }

  .reset-animation{
    -webkit-transform: translate(0, 0) translate3d(0, 0, 0);
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: translate(0, 0) translate3d(0, 0, 0);
  }

  .container-animation{
    transition: transform 10000ms cubic-bezier(0.24, 0.78, 0.15, 1) 0s;
    transform: translate(-3615px, 0px)
  }

  .background-empty{
    background-color: blue;
  }
  .border-empty{
      color: red;
  }

  .svg-container{
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .span-style{
    z-index: 4;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(calc(-50% + 0.15ch), -50%);
  }

  .gradient-overlay{
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $primaryColor-5, transparent, $primaryColor-5);
  }