@import "../../styles/all.css";

.root {
  height: $navbar-height;
  padding-top: $padding-height-navbar;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80px;

  @include Breakpoint-tabletAndAbove {
    padding: 0 $spacing-12;
    margin: 0 auto;
  }

  @include Breakpoint-mobileOnly {
    padding: 0 $spacing-8;
    margin: 0 auto;
  }
}

.image-language {
  width: 20px;
}
