@import "./colors.css";
@import "./layout.css";
@import "./variables.css";
@import "./googlefonts.css";
@import "./breakpoints.css";
@import "./components.css";

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 10px;
}

body{
    overflow-x : hidden;
    background-color: $background-color-theme;
    overflow-y: auto !important;
    padding-bottom: 30px;
}


@media only screen and (max-width: 600px) {
    .chat-container{
        display: none !important;
    }

    .address-box{
        display: none !important;
    }
    
    .user-menu{
        margin-top : 3px !important;
    }   

    .coin{
        margin-top : 0px !important;
    }
    
}

