@import "./colors.css";
@import "./layout.css";
@import "./variables.css";
@import "./serverFonts.css";
@import "./googlefonts.css";
@import "./breakpoints.css";
@import "./components.css";
@import "./games/index.css";

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $scroll-bar-color;
    border-radius: 10px;
}

body{
    overflow-x : hidden;
    background-color: $background-color-theme;
    overflow-y: auto !important;
    padding-bottom: 30px;
}

a{
    text-decoration: none !important;
}

button{
    text-decoration: none !important;
}

@media only screen and (max-width: 600px) {

    .last-bets-container{
        display: none !important;
    }

    .address-box{
        display: none !important;
    } 

    .coin{
        margin-top : 0px !important;
    }
    
}


.nav-link.active{
    background-color : $background-color-theme !important;
}

.mdi-icon{
    color : $white !important;
}

:global(.carousel-indicators li) {
    background-color: $secondaryColor !important;
}
