$gable-green: #192c38;
$pickled-bluewood: #253742;
$pickled-bluewood2: #263742;
$pickled-bluewood3: #2e4452;

$dodger-blue: #3179f6;
$blue-ribbon: #0a5cea;

$green:#6cc16f;
$red: #ff2247;

$japanese-laurel: #00b102;
$mirage: #15222d;
$baby-powder: #fcfcfc;

$mirage: #15222d;
$casper: #b7bfd6;
$light-pickled-bluewood: #375262;

$big-stone: #12222e;
$silver: #c9c9c9;
$mercury: #e6e6e6;
$firefly: #0a1c27;
$dark-blue: #192c38;
$smoky-grey: #253742;
$light-grey: #b7bfd6;
$black: #15222d;
$nepal: #97a2c3;
$concrete: #f2f2f2;
$tree-poppy: #f7931a;
$watermelon: #ff4e77;
$olive: #997c00;
$cornflower-blue: #8854f8;
$malachite: #1ec723;
$dodger-blue: #3179f6;
$dark-night: #0a031b;
$dark-purple : #17162d;
$white : white;
$grey : grey;