$primary-background-color : $dark-purple;
$secondary-background-color : #0f0e1d;
$dark-background-color : $dark-purple;
$light-table-color : #393984;
$dark-table-color : #05040c;
$text-primary-color : white;
$text-secondary-color : #858bc7;
$background-shadow : black;


/* COLORS SETUP */

$dice-background-color: $secondary-background-color;
$roulette-background-color: $secondary-background-color;
$coinflip-background-color: $secondary-background-color;
$text-container-interior-color: $secondary-background-color;
$background-color-theme : $primary-background-color;
$background-top-bar-theme : $primary-background-color;
$background-main-table : $secondary-background-color;
$background-table-1 : $dark-table-color;
$background-table-2 : $dark-table-color;
$light-background-table-1-outer : $dark-table-color;
$background-table-1-outer : $dark-table-color;
$background-table-1-outer-2 : $primary-background-color;
$modal-background : $secondary-background-color;
$roulette-blue-color : $dark-table-color;
$chat-container-color : $primary-background-color;
$chat-message-container-color : $primary-background-color;
$scroll-bar-color : $dark-background-color;
$button-hover-color : $text-secondary-color;
