
$backgroundColor: #17162d;
$primaryColor: #0f0e1d;
$secondaryColor: #393984;
$thirdColor: #05040c;
$forthColor: #ffffff;
$fifthColor: #858bc7;
$sixthColor: #000000;
$seventhColor: #7e84be;
$heightColor: #ffffff;