
$white: #333333;
$grey: #4D4D4D;


$backgroundColor: hsl(0,0%,100%);
$primaryColor: hsl(0,17%,92%);
$secondaryColor: hsl(25,100%,38%);
$thirdColor: hsl(0,0%,50%);
$forthColor: hsl(0,0%,100%);
$fifthColor: hsl(0,0%,30%);
$sixthColor: hsl(0,0%,0%);
$seventhColor: hsl(6,89%,59%);
$heightColor: hsl(47,100%,49%);
$backgroundColor-dark-2: hsl(0,0%,98%);
$backgroundColor-light-2: hsl(0,0%,100%);
$backgroundColor-dark-3: hsl(0,0%,97%);
$backgroundColor-light-3: hsl(0,0%,100%);
$backgroundColor-dark-5: hsl(0,0%,95%);
$backgroundColor-light-5: hsl(0,0%,100%);
$backgroundColor-dark-8: hsl(0,0%,92%);
$backgroundColor-light-8: hsl(0,0%,100%);
$backgroundColor-dark-13: hsl(0,0%,87%);
$backgroundColor-light-13: hsl(0,0%,100%);
$primaryColor-dark-2: hsl(0,17%,90%);
$primaryColor-light-2: hsl(0,17%,94%);
$primaryColor-dark-3: hsl(0,17%,89%);
$primaryColor-light-3: hsl(0,17%,95%);
$primaryColor-dark-5: hsl(0,17%,87%);
$primaryColor-light-5: hsl(0,17%,97%);
$primaryColor-dark-8: hsl(0,17%,84%);
$primaryColor-light-8: hsl(0,17%,100%);
$primaryColor-dark-13: hsl(0,17%,79%);
$primaryColor-light-13: hsl(0,17%,100%);
$secondaryColor-dark-2: hsl(25,100%,36%);
$secondaryColor-light-2: hsl(25,100%,40%);
$secondaryColor-dark-3: hsl(25,100%,35%);
$secondaryColor-light-3: hsl(25,100%,41%);
$secondaryColor-dark-5: hsl(25,100%,33%);
$secondaryColor-light-5: hsl(25,100%,43%);
$secondaryColor-dark-8: hsl(25,100%,30%);
$secondaryColor-light-8: hsl(25,100%,46%);
$secondaryColor-dark-13: hsl(25,100%,25%);
$secondaryColor-light-13: hsl(25,100%,51%);
$thirdColor-dark-2: hsl(0,0%,48%);
$thirdColor-light-2: hsl(0,0%,52%);
$thirdColor-dark-3: hsl(0,0%,47%);
$thirdColor-light-3: hsl(0,0%,53%);
$thirdColor-dark-5: hsl(0,0%,45%);
$thirdColor-light-5: hsl(0,0%,55%);
$thirdColor-dark-8: hsl(0,0%,42%);
$thirdColor-light-8: hsl(0,0%,58%);
$thirdColor-dark-13: hsl(0,0%,37%);
$thirdColor-light-13: hsl(0,0%,63%);
$forthColor-dark-2: hsl(0,0%,98%);
$forthColor-light-2: hsl(0,0%,100%);
$forthColor-dark-3: hsl(0,0%,97%);
$forthColor-light-3: hsl(0,0%,100%);
$forthColor-dark-5: hsl(0,0%,95%);
$forthColor-light-5: hsl(0,0%,100%);
$forthColor-dark-8: hsl(0,0%,92%);
$forthColor-light-8: hsl(0,0%,100%);
$forthColor-dark-13: hsl(0,0%,87%);
$forthColor-light-13: hsl(0,0%,100%);
$fifthColor-dark-2: hsl(0,0%,28%);
$fifthColor-light-2: hsl(0,0%,32%);
$fifthColor-dark-3: hsl(0,0%,27%);
$fifthColor-light-3: hsl(0,0%,33%);
$fifthColor-dark-5: hsl(0,0%,25%);
$fifthColor-light-5: hsl(0,0%,35%);
$fifthColor-dark-8: hsl(0,0%,22%);
$fifthColor-light-8: hsl(0,0%,38%);
$fifthColor-dark-13: hsl(0,0%,17%);
$fifthColor-light-13: hsl(0,0%,43%);
$sixthColor-dark-2: hsl(0,0%,0%);
$sixthColor-light-2: hsl(0,0%,2%);
$sixthColor-dark-3: hsl(0,0%,0%);
$sixthColor-light-3: hsl(0,0%,3%);
$sixthColor-dark-5: hsl(0,0%,0%);
$sixthColor-light-5: hsl(0,0%,5%);
$sixthColor-dark-8: hsl(0,0%,0%);
$sixthColor-light-8: hsl(0,0%,8%);
$sixthColor-dark-13: hsl(0,0%,0%);
$sixthColor-light-13: hsl(0,0%,13%);
$seventhColor-dark-2: hsl(6,89%,57%);
$seventhColor-light-2: hsl(6,89%,61%);
$seventhColor-dark-3: hsl(6,89%,56%);
$seventhColor-light-3: hsl(6,89%,62%);
$seventhColor-dark-5: hsl(6,89%,54%);
$seventhColor-light-5: hsl(6,89%,64%);
$seventhColor-dark-8: hsl(6,89%,51%);
$seventhColor-light-8: hsl(6,89%,67%);
$seventhColor-dark-13: hsl(6,89%,46%);
$seventhColor-light-13: hsl(6,89%,72%);
$heightColor-dark-2: hsl(47,100%,47%);
$heightColor-light-2: hsl(47,100%,51%);
$heightColor-dark-3: hsl(47,100%,46%);
$heightColor-light-3: hsl(47,100%,52%);
$heightColor-dark-5: hsl(47,100%,44%);
$heightColor-light-5: hsl(47,100%,54%);
$heightColor-dark-8: hsl(47,100%,41%);
$heightColor-light-8: hsl(47,100%,57%);
$heightColor-dark-13: hsl(47,100%,36%);
$heightColor-light-13: hsl(47,100%,62%);