$white: #FFFFFF;
$grey: #CCCCCC;
$shadowColor: #0000006b;
$placeHolderColor: #696969;

$backgroundColor: hsl(243,34%,13%);
$primaryColor: hsl(244,34%,8%);
$secondaryColor: hsl(240,39%,37%);
$thirdColor: hsl(248,50%,3%);
$forthColor: hsl(0,0%,100%);
$fifthColor: hsl(235,37%,65%);
$sixthColor: hsl(0,0%,0%);
$seventhColor: hsl(234,33%,62%);
$heightColor: hsl(249,100%,69%);
$backgroundColor-2: hsl(243,34%,15%);
$backgroundColor-3: hsl(243,34%,16%);
$backgroundColor-5: hsl(243,34%,18%);
$backgroundColor-8: hsl(243,34%,21%);
$backgroundColor-13: hsl(243,34%,26%);
$backgroundColor-dark-3: hsl(243,34%,10%);
$primaryColor-2: hsl(244,34%,10%);
$primaryColor-3: hsl(244,34%,11%);
$primaryColor-5: hsl(244,34%,13%);
$primaryColor-8: hsl(244,34%,16%);
$primaryColor-13: hsl(244,34%,21%);
$primaryColor-dark-3: hsl(244,34%,5%);
$secondaryColor-2: hsl(240,39%,39%);
$secondaryColor-3: hsl(240,39%,40%);
$secondaryColor-5: hsl(240,39%,42%);
$secondaryColor-8: hsl(240,39%,45%);
$secondaryColor-13: hsl(240,39%,50%);
$secondaryColor-dark-3: hsl(240,39%,34%);
$thirdColor-2: hsl(248,50%,5%);
$thirdColor-3: hsl(248,50%,6%);
$thirdColor-5: hsl(248,50%,8%);
$thirdColor-8: hsl(248,50%,11%);
$thirdColor-13: hsl(248,50%,16%);
$thirdColor-dark-3: hsl(248,50%,0%);
$forthColor-2: hsl(0,0%,100%);
$forthColor-8: hsl(0,0%,100%);
$forthColor-13: hsl(0,0%,100%);
$forthColor-dark-3: hsl(0,0%,97%);
$fifthColor-2: hsl(235,37%,67%);
$fifthColor-3: hsl(235,37%,68%);
$fifthColor-5: hsl(235,37%,70%);
$fifthColor-8: hsl(235,37%,73%);
$fifthColor-13: hsl(235,37%,78%);
$fifthColor-dark-3: hsl(235,37%,62%);
$sixthColor-2: hsl(0,0%,2%);
$sixthColor-8: hsl(0,0%,8%);
$sixthColor-13: hsl(0,0%,13%);
$sixthColor-dark-3: hsl(0,0%,0%);
$seventhColor-2: hsl(234,33%,64%);
$seventhColor-3: hsl(234,33%,65%);
$seventhColor-5: hsl(234,33%,67%);
$seventhColor-8: hsl(234,33%,70%);
$seventhColor-13: hsl(234,33%,75%);
$seventhColor-dark-3: hsl(234,33%,59%);
$heightColor-2: hsl(249,100%,71%);
$heightColor-3: hsl(249,100%,72%);
$heightColor-5: hsl(249,100%,74%);
$heightColor-8: hsl(249,100%,77%);
$heightColor-13: hsl(249,100%,82%); 
$heightColor-dark-3: hsl(249,100%,66%);