@import "../../styles/all.css";

.username {
  margin: $spacing-28 0 $spacing-16 0;
}

.token2FA {
  margin: $spacing-20 0;
}

.token2FA-info {
  width: 300px;
  margin-bottom: $spacing-36;
}

.container {
  margin: 50px;
}

.button {
  margin-top: $spacing-20;
}

.error {
  margin: $spacing-8;
}

.tkn_logo_login{
    width : 300px;
    margin-top : 30%;
}

.disabled {
  opacity : 0.5;
}

.forgot {
  margin-top: $spacing-20;
  width: 100%;
  text-align: center;
}

.reset-password {
  margin: $spacing-36 0;
  background-color: $mirage;
  padding: $spacing-20;
  border-radius: 4px;
  width: 450px;

  @include Breakpoint-mobileOnly {
    width : 100%;
  }
}

.reset-password-title {
  display: flex;
  padding: $spacing-12;
}

.reset-password-left {
  flex: 0 0 35%;
  text-align: center;
}

.reset-password-right {
  flex: 1;
  margin: auto;
  text-align: left;
}

.box {
  text-align: center;
}