@import "../../styles/all.css";

.root {
  margin-top: $spacing-16;
}

.token2FA-info {
  width: 300px;
  margin-bottom: $spacing-36;
}

.container {
  margin: 50px;
}

.error {
  margin: $spacing-16 0;
}

.disabled {
  opacity: 0.5;
}

.forgot {
  margin-top: $spacing-20;
  width: 100%;
  text-align: center;
}

form {
  width: 100%;
}
