@import "../../styles/all.css";

.root {
  text-align: center;
  margin-top :  100px;
}

.container {
    @include Breakpoint-tabletAndAbove {
        max-width: $content-width-desktop;

        margin: 0 auto;
    }

    @include Breakpoint-mobileOnly {
        width: 100%;

        max-width: $content-width-mobile;
        padding: calc($navbar-height + $spacing-36) 0 0 0;
        margin: 0 auto;
    }
}

.bets-dropdown{
    margin-top : -20px;
}
