@import "../../styles/all.css";

.root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @include Breakpoint-mobileOnly {
    height: 50px;
  }
}

.box{
    box-shadow: $shadowColor 0px 0px 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    margin : 5px;
    align-items: center;
    font-weight: 600;
    width: 130px;
    position: relative;
    cursor: help;
    text-shadow: $shadowColor 0px 2px 4px;
    border-radius: 6px;
    background: $backgroundColor-8;
    padding: 1em 0.5em;
    overflow: hidden;

    @include Breakpoint-mobileOnly {
        width : 40px;
    }
}

.box-light{
    background: $primaryColor-13;
}


.box::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    transform: translateY(calc(100% - 6px));
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    transition-property: transform;
}

.container-blocks{
    position: relative;
    width: 100%;
    display: grid;
    display: flex;
    gap: 1em 1em;
    max-width: 600px;

    @include Breakpoint-tabletOnly {
        max-width: 500px;
    }

    @include Breakpoint-mobileOnly {
        margin-top : 0px;
    }
}

.multiplier-0{}
.multiplier-1{}
.multiplier-2{}
.multiplier-3{}
.multiplier-4{}
.multiplier-5{}
.multiplier-6{}

.multiplier-0::before{
    background: $wheel-variation-1-color-1; 
}

.multiplier-0-light::before{
    background: $wheel-variation-1-color-1-light; 
}

.multiplier-1::before{
    background: $wheel-variation-1-color-2;
}

.multiplier-1-light::before{
}

.multiplier-2::before{
    background: $wheel-variation-1-color-3;
}

.multiplier-2-light::before{
}

.multiplier-3::before{
    background: $wheel-variation-1-color-4;
}

.multiplier-3-light::before{
}

.multiplier-4::before{
    background: $wheel-variation-1-color-5;
}

.multiplier-4-light::before{
}

.multiplier-5::before{
    background: $wheel-variation-1-color-6;
}

.multiplier-5-light::before{
}

.multiplier-6::before{
    background: $wheel-variation-1-color-7;
}

.multiplier-6-light::before{
}


.no-transform::before{
    transform: translateY(0px);
}

