@import "../../styles/all.css";

.container {
  width: 270px;
  margin: 0 auto;
  background-repeat: no-repeat;
  
  background-size: contain;
}

.containerSimple {
    height: 80px;

    @include Breakpoint-mobileOnly {
        height: 40px;
    }
}

.root{
    position: relative;
    display: block;
    margin : auto;
}

.outer-circle {
    font-size: 8em;
    display: inline-block;
    width: 2em;
    box-sizing: content-box;
    height: 2em;
    border: 0.1em solid $backgroundColor;
    position: absolute;
    border-radius: 1.4em;
    z-index: 10;
    margin-left: -7px;
    margin-top: -7px;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.5));
}

.outer-star {
    font-size: 14em;
    display: inline-block;
    box-sizing: content-box;
    border: 0.15em solid $backgroundColor;
    position: absolute;
    border-radius: 1.1em;
    z-index: 10;
    margin-left: 101px;
    margin-top: 102px;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.5));
}

.star {
    background: $thirdColor;
    width: 36px;
    height: 36px;
    position: absolute;
    text-align: center;
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    margin-left: 116px;
    margin-top: 118px;
    z-index: 10;
}

.star:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    background: $thirdColor;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

@media (max-width: 676px) {
    .outer-circle {
        width: 1.5em;
        height: 1.5em;
        border: 0.1em solid $backgroundColor;
        margin-left: -9px;
        margin-top: -9px;
    }
    .outer-star {
        margin-left: 72px;
        margin-top: 72px;
        font-size: 10em;
    }
    .star {
        width: 24px;
        height: 24px;
        margin-left: 84px;
        margin-top: 84px;
    }
    .star:before {
        height: 24px;
        width: 24px;
    }
}

#spin {
    cursor: pointer;
}

#container {
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

#timer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: -50px;
    height: 100px;
    font-size: 80px;
    font-weight: 100;
    font-family: 'Alfa Slab One', cursive;
    color: #ecf0f1;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}

.root > span > canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.wheel-pointer{
    width: 36px;
    margin: auto;
    position: relative;
    display: block;
    top: -14px;
    z-index: 13;
    filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.5));
}


.result-container {
    grid-area: Result / Result / Result / Result;
    display: flex;
    align-items: center;
    justify-content: center;
    margin : auto;
    display: block;
    position: relative;
}

.resultContainerSimple {
    padding-top: 180px;

    @include Breakpoint-mobileOnly {
        padding-top: 140px;
    }
}



.result {
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    padding-top: 80px;
    opacity: 0;
    text-align: center;
    margin: auto;
    display: grid;
    border-radius: 70px;
    position: relative;

    h6 {
      font-family: $font-family;
      font-size: $font-size-h2;
      font-weight: 600;
      line-height: $line-height-h2;
    }

    @include Breakpoint-mobileOnly {
        padding-top: 20% !important;
    }
  }
  
  .result.picked {
    opacity: 1;
  
    transition: all 100ms linear;
  }
  
  .result.red {
    opacity: 1;

    transition: all 100ms linear;
  }
  
  .result.green {
  
    opacity: 1;

    transition: all 100ms linear;
  }


.multiplier-0{
    color: $wheel-variation-1-color-1;
}

.multiplier-1{
    color: $wheel-variation-1-color-2;
}

.multiplier-2{
    color: $wheel-variation-1-color-3;
}

.multiplier-3{
    color: $wheel-variation-1-color-4;
}

.multiplier-4{
    color: $wheel-variation-1-color-5;
}

.multiplier-5{
    color: $wheel-variation-1-color-6;
}

.multiplier-6{
    color: $wheel-variation-1-color-7;
}
