@import "../../../styles/all.css";

.root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: calc(100% - $spacing-20 - $spacing-20);
  padding: $spacing-20;
  background: $background-table-1;
}

.container-root {
  display: flex;
  width: 100px;
  text-align: center;
  height: auto;
  margin: 10px auto;
  padding: $spacing-20;
  background: $black;
  border-radius: $border-radius;
  opacity: 1;
  transition: all 0.2s ease-in;

  &:hover {
    opacity: 0.4;
  }
}
.dollar-image {
  width: 50px;
}

.box {
  margin-bottom: $spacing-20;
  background-color: $mirage;
  padding: $spacing-20;
  border-radius: 5px;
}

.no-hover {
  &:hover {
    opacity: 1 !important;
  }
}

.text-info-deposit {
  margin-top: 12px;
  text-align: left;
  background-color: $background-table-1;
  border-radius: $border-radius;
  padding: $spacing-8 $spacing-12;
  width: fit-content;
}

.building-img {
  width: $spacing-160;
}

.building-info {
  margin: $spacing-52 0;
}

.loading-gif {
  width: 30px;
  margin: $spacing-64 $spacing-12;
}
