@import "../../styles/all.css";

.root {
  width: 100%;
  padding-bottom: $spacing-36;
  position: relative;
  display: block;
  @include Breakpoint-mobileOnly {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }
  height: 100%;
}

.container {
    grid-template-columns: 310px 1fr;
    padding : $padding-chat-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    position: absolute;
    min-height: 42vw;

    border-radius: $spacing-12;

    box-shadow: color($background-shadow alpha(75%)) 0px 0px 10px;

    @include Breakpoint-mobileOnly {
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}

.text-container{
    height: $top-chat-message-percentage;
    padding : 10px;
    overflow : auto;

    @include Breakpoint-tabletOnly {
      height: 70%;
    }

    @include Breakpoint-mobileOnly {
      height: 70%;
    }
}

.info-message-container{
    height: auto;
    padding-top : $spacing-8;
    width: 100%;
}

.info{
    height: $spacing-12;
}

.message-box{
    padding : $spacing-8;
    width: 100%;
    margin : 10px auto;
    background-color: $text-container-interior-color;
    border-radius : $border-radius-messsage-box;
}

.message-container{
    padding : 10px;
    border-radius : $border-radius-messsage-box;
    height: $bot-chat-message-percentage;
    background-color:$chat-container-color;

    @include Breakpoint-tabletOnly {
      height: 30%;
      padding: 0 10px;
    }

    @include Breakpoint-mobileOnly {
      height: 30%;
      padding: 0 10px;
    }
}

.options-container {
  height: 100%;

  background-color: $background-table-1-outer;

  @include Breakpoint-mobileOnly {
    order: 2;

    width: 100%;
  }
}

.game-container {
  position: relative;

  display: block;

  width: 100%;
  height: 100%;

  @include Breakpoint-mobileOnly {
    order: 1;

    min-height: 300px;
  }
}

.history {
  position: absolute;

  top: 0;

  right: 0;

  width: 100%;

  overflow: hidden;
}

.sound {
  padding-top: $spacing-8;
  padding-right: $spacing-8;

  button {
    margin: 0 auto;
    display: block;
    position: relative;
  }
}


.button{
    background-color: $blue-ribbon;    
    margin : auto;
    position: relative;
    display: block;
    width: 100px;
    padding : 10px;
    border-radius : $border-radius;
}


@media only screen and (max-width: 800px) {
    .button{
        width : 50px !important;
    }
    
}


.container-box{
    margin-top : $spacing-12;

    @include Breakpoint-mobileOnly {
      margin-top: 0px;
    }
}


.users-box{
    margin: 6px auto;
    position: relative;
    display: block;
    width : max-content;
}

.green-light{
    width : $light-size;
    border-radius: $light-size;
    height: $light-size;
    background-color: $green;
    margin : $light-margin-top auto;

}

.red-light{
    width : $light-size;
    border-radius: $light-size;
    height: $light-size;
    background-color: $red;
    margin : $light-margin-top auto;
}

.image-language{
    width: 20px;
}
