@import "../../styles/all.css";

.container-root{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width : 100%;
    margin-bottom: $spacing-20;
    margin-top: $spacing-20;
    border-radius: $border-radius;
    padding : $spacing-8 $spacing-20;
    background: $primaryColor-5;
    opacity : 1;
    border : none;
    transition: all 0.2s ease-in;
}

.row-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container-button-timer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: $primaryColor;
    border-radius: $border-radius;
    border: 2px solid $primaryColor-8;
    width : 200px;
    height: 80px;
    padding: 10px 40px;
    margin: $spacing-20;
}


.text-message{
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
}

.container-image{
    width : 30px;
}

.payment-image{
    width: 22px;
}

.digital-text{
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 30px;
}

.digital-text-bottom{
    font-family: $font-family;
    font-size: $font-size-x-small-body;
    color: white;
}

@media screen and (max-width: 767px) {
    .container-root{
        display: flex;
        flex-direction: column;
        padding-top: $spacing-20;
    }
    .container-button-timer{
        margin-top: $spacing-12;
    }
}

