@import "../../styles/all.css";


.container-root{
    display: flex;
    width : 100%;
    height: auto;
    margin-bottom : 10px;
    padding : $spacing-20;
    background: $primaryColor-2;
    border-radius : $border-radius;
    opacity : 1;
    transition: all 0.2s ease-in;

    &:hover{
        opacity : 0.4;
    }
}

.selected {
    background: $primaryColor-8;
}

.text-description{
    margin-top : $spacing-8;
}

.payment-image{
    width: 40px;
}

.container-text{
    text-align: left;
}

.container-image{
    width : 50px;
}

