@import "../../styles/all.css";

.qrcode {
    padding: $spacing-16;
    background-color: $white;
    width: 166px;
    margin: $spacing-36 auto;
    border-radius: 4px;
}
  
.qrcode canvas {
    position: unset;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}

.address {
    display: flex;
}

.ad-copied {
    opacity: 0.6;
}

.building{
    margin-top: $spacing-52;
}

.building-img {
    width: 150px;
}

.building-info {
    margin: $spacing-52 0;
}

.info {
    margin-top: $spacing-20;
    text-align: justify;
    width: 100%;
    border-radius: $border-radius $border-radius 0 0;
    padding: $spacing-20;

    @include Breakpoint-mobileOnly {
        padding: 0;
    }
}

.text-copy-container{
    border : none;
    padding: $spacing-12 24px;
    border-radius :  0 $border-radius $border-radius 0;
    background-color: $light-background;
    width : inherit;
    height : 40px;
    text-align : center;
}

.link-text-container{
    width : 100%;
    padding: 14px $spacing-20;
    text-align : left;
    overflow: hidden;
    height: 40px;
    border-radius : $border-radius 0 0  $border-radius;
    background-color : $white;
}

.loading-gif{
    width: 30px;
    margin: $spacing-64 $spacing-12;
}

.copied {
    position: absolute;
    margin-left: 30%;
    margin-top: -$spacing-20;

    @include Breakpoint-mobileOnly {
        margin-left: 35%;
    }

    * {
      opacity: 0;
      animation: copied-animation 1s running;
    }
}

.price {
    margin-bottom: $spacing-28;
    text-align: center;
}

@keyframes copied-animation {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
  
    50% {
      opacity: 1;
      transform: translateY(50%) scale(1.2);
    }
  }