@import url('https://fonts.googleapis.com/css?family=Cairo');

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@keyframes spinVertical {
  from{
   transform: translate3D(0, 0, 0)
  }
  to {
    transform: translate3D(0, 600px, 0)
  }
}

.textButton{
  font-size: 12px;
  font: roboto;
  background-color: none !important;
}

.textButton:hover{
  color: white;
  cursor: pointer;
  background-color: none;
}

body {
  background-color: #292929;
}

h1 {
  font-size: 150%;
  padding: 0.25em .5em;
  font-family: 'Cairo', sans-serif;
}

h1 span {
  color: aliceblue;
  border: 1px solid hsla(208, 100%, 97.1%, .2);
  padding: 0.1em .2em;
}
.lineTest{
  position: absolute;
  z-index: 1;
  align-self: center;
}

.rowContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.columnContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnSpinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  animation: spinVertical 1.5s forwards 0.5s initial;
}

.containerInit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(47, 69, 83);
}

.topContainerText {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 10px;
  top: 0px;
  left: 0px;
}

.icons:nth-child(2) {
  margin: 0 10px;
}

* { box-sizing: border-box; }

.spinnerContainer {
  display: flex;
  overflow: hidden;
  height: 250px;
  width: 70%;
  top: 0px;
  left: 0px;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s transform;
  border: 3px solid rgb(47, 69, 83);
  border-radius: 20px;
}

.gridContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.separatedLine {
  border-left: 1px solid gray;
  height: 200px;
  margin: 5px;
}

@media screen and (max-width: 1000px) {
  .spinnerContainer {
    transform: translate(-50%, -50%) scale(.55, .55);
  }
}

@media screen and (max-width: 500px) {
  .spinnerContainer {
    transform: translate(-50%, -50%) scale(.4, .4);
  }
}