@import url('https://fonts.googleapis.com/css?family=Cairo');

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

.textButton{
  font-size: medium;
  font: roboto;
  background-color: none !important;
}

.textButton:hover{
  color: white;
  cursor: pointer;
  background-color: none;
}

body {
  background-color: #292929;
}

h1 {
  font-size: 150%;
  padding: 0.25em .5em;
  font-family: 'Cairo', sans-serif;
}

h1 span {
  color: aliceblue;
  border: 1px solid hsla(208, 100%, 97.1%, .2);
  padding: 0.1em .2em;
}
.lineTest{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  align-self: center;
}

.rowContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.columnContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repeatButton{
  appearance: none;  
  border: none;
  background: url(https://andyhoffman.codes/random-assets/img/slots/repeat.png) transparent 0 0 no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  right: 20px; 
  cursor: pointer;
  animation-name: spin;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.containerInit{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
  flex-direction: column;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(47, 69, 83);
}

.topContainerText {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 10px;
  top: 0px;
  left: 0px;
}

.icon{
  width: 100%;
  animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 2.2s;
    animation-fill-mode: forwards;
}

.icons {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(https://andyhoffman.codes/random-assets/img/slots/sprite5.png) repeat-y;
  background-size: 70px;
  margin: 10px 5px;
  will-change: backgroundPosition;
  overflow: hidden;
  transition: 0.3s background-position ease-in-out;
}

.icons:nth-child(2) {
  margin: 0 10px;
}

* { box-sizing: border-box; }

.spinnerContainer {
  display: flex;
  overflow: hidden;
  height: 300px;
  width: 70%;
  top: 0px;
  left: 0px;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s transform;
  border: 5px solid rgb(47, 69, 83);
  border-radius: 20px;
}

.gridContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-wrap.winner-false {
  animation: linear 1s spin;
}
.separatedLine {
  border-left: 1px solid gray;
  height: 150px;
  margin: 10px;
}
.spinnerContainer::after {
  position: absolute;
  content: '';
  display: block;
  height: 180px;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  left: 30px;
  background: rgba(255, 0, 0, .1);
}

@media screen and (max-width: 1000px) {
  .spinnerContainer {
    transform: translate(-50%, -50%) scale(.55, .55);
  }
}

@media screen and (max-width: 500px) {
  .spinnerContainer {
    transform: translate(-50%, -50%) scale(.4, .4);
  }
}