@import url('https://fonts.googleapis.com/css?family=Cairo');
@import "../../styles/all.css";

@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

@keyframes cardJump {
  from{
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}

.textButton{
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  color: white;
}

.textButton:hover{
  color: white;
  cursor: pointer;
  background-color: none;
}

body {
  background-color: #292929;
}

.lineTest{
  position: absolute;
  z-index: 1;
  align-self: center;
}

.rowContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.columnContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnSpinner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.containerInit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  flex-direction: column;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(47, 69, 83);
}

.topContainerText {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 10px;
  top: 0px;
  left: 0px;
}

* { box-sizing: border-box; }

.spinnerContainer {
  display: flex;
  overflow: hidden;
  height: 250px;
  width: 420px;
  top: 0px;
  left: 0px;
  padding: 20px 30px;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(47, 69, 83);
  border-radius: 5px;
}

.gridContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.separatedLine {
  border-left: 1px solid gray;
  height: 200px;
  margin: 5px;
}

.resultCard {
  display: flex;
  position: absolute;
  z-index: 1;
  align-self: center;
  width: 170px;
  height: 110px;
  background-color:  hsl(244,34%,8%);
  border: 5px solid limegreen;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  animation: cardJump 0.5s forwards 0.1s;
}

.backgroundTransparence {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 1;
  align-self: center;
  width: 420px;
  height: 250px;
}

.resultCardText{
  font-size: 25px;
  color: limegreen;
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  font-family: 'Cairo', sans-serif;
  animation: cardJump 0.5s forwards 0.1s;
}

@media screen and (max-width: 1000px) {
  .spinnerContainer {
    transform: translate(-50%, -50%) scale(.55, .55);
  }
}

@media screen and (max-width: 500px) {
  .spinnerContainer {
    transform: translate(-50%, -50%) scale(.4, .4);
  }
}