@import "../../styles/all.css";

.root {
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10000;
  background-color: $background-color-theme;
  height: -webkit-fill-available;
}

.container {
  justify-content: center;
  grid-column-gap: $spacing-28;
  grid-row-gap: $spacing-28;
  padding-top: 14%;
  grid-template-columns: repeat(3, 290px);
  @include Breakpoint-tabletOnly {
    grid-template-columns: 1fr;
  }

  @include Breakpoint-mobileOnly {
    grid-template-columns: 1fr;
  }
}

.coin {
  background-color: $tree-poppy;
  border-radius: 50%;
  box-shadow: inset 0 0 15px color($red alpha(50%));
}

.container-small {
  margin-top: 40px;
}
