@import "../../styles/all.css";

.address-text{

}
.root {
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: $navbar-height;
    padding-top : $padding-height-navbar;
    padding-left : $padding-width-navbar;
    padding-right : $padding-width-navbar;

    background-color: $background-top-bar-theme;
    box-shadow : 1px 1px 100px 1px #0000006b;
}



.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include Breakpoint-tabletAndAbove {
    width: $content-width-desktop;

    padding: 0 $spacing-20;
    margin: 0 auto;
  }

  @include Breakpoint-mobileOnly {
    width: 100%;
    padding: 0 $spacing-8;
    margin: 0 auto;
  }
}

.image {
    width: 120px;

    @include Breakpoint-mobileOnly {
        width: 100px;
        margin-left: -15px;
        margin-top: 5px;
      }
}



.content {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.coin {
    position: relative;
    width: fit-content;
    margin: auto;
    margin-top : -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding: 5px 10px !important;
    background-color: $background-main-table;
    border-radius: $spacing-4;
    cursor: default;

    *:first-child {
        margin-right: $spacing-4;
    }

  .icon {
        margin-top : -4px;
        width: $spacing-16;
        height: $spacing-16;
  }

  .diff-won {
    position: absolute;
    top: 60%;
    left: 10%;
    * {
      color: $green;
      opacity: 0;

      animation: won-animation 1s running;
    }
  }

  .diff-lost {
    position: absolute;
    top: 60%;
    left: 10%;
    * {
      color: $red;
      opacity: 0;

      animation: lost-animation 1s running;
    }
  }
}


.diff-won {
    position: absolute;
    top: 60%;
    left: 10%;
    * {
      color: $green;
      opacity: 0;

      animation: won-animation 1s running;
    }
}

.diff-lost {
    position: absolute;
    top: 60%;
    left: 10%;
    * {
        color: $red;
        opacity: 0;

        animation: lost-animation 1s running;
}
}

@keyframes lost-animation {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(0.8);
  }
}

@keyframes won-animation {
  0% {
    opacity: 0;

    transform: translateY(80%);
  }

  50% {
    opacity: 1;

    transform: translateY(50%) scale(1.2);
  }
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    text-align: center;
    width: fit-content;
    position: relative;
    margin-top : -15px;

    @include Breakpoint-mobileOnly {
        margin-top : -5px !important;
    }
    
    .login {
        margin-right: $spacing-8;
    }
}


.buttons-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    text-align: center;
    width: fit-content;
    position: relative;
    margin-top : -5px;
    
    .login {
        margin-right: $spacing-8;
    }
}


.small-icon{
    width : 30px;
}

.address-box{
    margin: auto;
    margin-top : -6px !important;
    display: flex;
    text-align: center;
    width: fit-content;
    position: relative;
}


.logo-image{
    text-align: center;
    width: fit-content;
    position: relative;
    display: flex;
    margin: auto;
}

.user-menu{
    margin-top : 10px;
}

.icon-green{
    color : $green;
}

.icon-red{
    color : $red;
}