@import "../../styles/all.css";

.address-text{

}
.root {
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin : 0;
    width: 100%;
    height: $navbar-height;
    padding-top : $padding-height-navbar;
    padding-left : $padding-width-navbar;
    padding-right : $padding-width-navbar;

    background-color: $background-top-bar-theme;
    box-shadow : 1px 1px 100px 1px #0000006b;

    @include Breakpoint-mobileOnly {
        padding-left : 40px;
    }
}

.image {
    /*width: 120px;*/
    height: 40px;
}

.coin {
    position: fixed;
    margin: auto;
    display: flex;
    align-items: center;
    height: 30px;
    width : 146px;
    padding: 5px !important;
    border-radius: $spacing-4;
    cursor: default;
    top: 16px;
    padding-left: 10px !important;
    background-color: $mirage;

    @include Breakpoint-tabletOnly {
        width : 142px;
    }

    @include Breakpoint-mobileOnly {
        padding: 0px !important;
        width: 116px;
        top: 16px;
    }

    .icon {
            margin-top : -4px;
            width: $spacing-16;
            height: $spacing-16;

            @include Breakpoint-mobileOnly {
                margin-top: -20px !important;
            }
    }

    .diff-won {
        position: absolute;
        top: 60%;
        left: 30%;
        * {
        color: $green;
        opacity: 0;

        animation: won-animation 1s running;
        }
    }

    .diff-lost {
        position: absolute;
        top: 60%;
        left: 30%;
        * {
        color: $red;
        opacity: 0;

        animation: lost-animation 1s running;
        }
    }
}

.no-coin{
    padding-top: $spacing-8;
    float: left;

    @media screen and (max-width: 767px) {
        padding-top: 0;
    }
}

@keyframes lost-animation {
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(0.8);
  }
}

@keyframes won-animation {
  0% {
    opacity: 0;

    transform: translateY(80%);
  }

  50% {
    opacity: 1;

    transform: translateY(50%) scale(1.2);
  }
}

.buttons {
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;

    .login {
        margin-right: $spacing-8;
    }
}


.buttons-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    text-align: center;
    width: fit-content;
    position: relative;
    top: -8px;
    
    .login {
        margin-right: $spacing-8;
    }
}


.small-icon{
    width : 30px;
}

.logo{
    display: inline-flex;
    align-items: center;
}

.logo-image{
}

.user-menu{
    margin-top : 5px;
}

.icon-green{
    color : $green;
}

.icon-red{
    color : $red;
}

.button-deposit{
    float: left;
    margin-left: $spacing-52;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.navbar-language{
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;

    @include Breakpoint-mobileOnly {
        /*display: none;*/
        padding-left: 18px;
    }

}

.top-menu{
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    align-items: center;
    width: 100%;
    height: $navbar-height;
    background-color: $background-top-bar-theme;
    box-shadow : 1px 1px 100px 1px #0000006b;
    padding-left : $padding-width-navbar;
    padding-right : $padding-width-navbar;

    @include Breakpoint-mobileOnly {
        padding-left : calc($padding-width-navbar - 30px);
        padding-right : calc($padding-width-navbar - 30px);
    }
}

.profile{
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
}

.language{
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
}

.language-profile{
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
}

.language-container{
    margin-right: $spacing-36;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.casino-sports{

}

.casino-sports-container{
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.currency{
    height: 30px;
    float: left;

    .diff-won{
        padding-left: 30%;
        * {
            color: $green;
            opacity: 0;

            animation: won-animation 1s running;
        }
    }

    .diff-lost{
        padding-left: 30%;
        * {
            color: $red;
            opacity: 0;

            animation: lost-animation 1s running;
        }
    }
}