@import "../../styles/all.css";

.root {
    text-align: center;
    padding: $spacing-16 0;

    @include Breakpoint-mobileOnly {
      padding: 0;
    }
}

.container {
    max-width: $content-width-desktop;
    margin: auto;
    background-color: $primaryColor;
    padding: $spacing-52;
    border-radius: $border-radius;
    min-height: 100%;
  
    @include Breakpoint-mobileOnly {
      padding: 0;
    }
}

.content {
    padding: $spacing-28;

    div {
        padding: $spacing-16 0;
    }

    @include Breakpoint-mobileOnly {
      padding: $spacing-16;
    }
}

.icon svg{
    width: 80px;
}

.image {
  height: 80px;
}

.logo{
    margin-bottom: $spacing-28;

    @include Breakpoint-mobileOnly {
      padding-top: $spacing-28;
    }
}