@import "../../../styles/all.css";

.root {
  text-align: center;
  margin : auto;
  margin-top : $spacing-88;
  width: 95%;
}

.container {
    @include Breakpoint-tabletAndAbove {
        max-width: $content-width-desktop;

        margin: 0 auto;
    }

}

.bets-dropdown{

    @include Breakpoint-tabletOnly {
        margin-top: 10px;
    }

}

.bets-dropdown-game{

    @include Breakpoint-tabletOnly {
        margin-top: 10px;
    }
}

.lastBets {
    width: 100%;
    grid-auto-flow: column;
    display: grid;
    align-items: center;
    gap: $spacing-8;
    margin: $spacing-88 0 $spacing-28 0;

    @media screen and (max-width: 767px) {
        gap: $spacing-4;
    }
}


.loading {
    width: 100%;
    text-align: center;

    img {
        height: $spacing-28;
    }
}