@import "../../../styles/all.css";

.root {
  text-align: center;
  margin-top : 50px;
  width: 100%;
  margin: auto;

  @include Breakpoint-mobileOnly {
    width: 450px;
}
}

.container {
    margin-top: 80px;

    @include Breakpoint-tabletOnly {
        margin-top: 20px;
    }

    @include Breakpoint-tabletAndAbove {
        max-width: $content-width-desktop;
        margin-left: 3px;
    }

    @include Breakpoint-mobileOnly {
        margin-top: 20px;
    }
}

.bets-dropdown{
    margin-top : -2px;

    @include Breakpoint-tabletOnly {
        margin-top: 18px;
    }

}
