@import "../../../styles/all.css";

.root {
  text-align: center;
  margin : auto;
  margin-top : $spacing-88;
  width: 95%;
}

.container {
    @include Breakpoint-tabletAndAbove {
        max-width: $content-width-desktop;

        margin: 0 auto;
    }

}

.filters{
    justify-content: flex-end;
    display: inline-flex;
    align-items: center;
}

.bets-dropdown{
    margin: 0 $spacing-12;
}

.bets-dropdown-game{
    margin: 0 $spacing-12;
}

.lastBets {
    width: 100%;
    grid-auto-flow: column;
    display: grid;
    align-items: center;
    gap: $spacing-8;
    margin: $spacing-88 0 $spacing-28 0;

    @media screen and (max-width: 767px) {
        gap: $spacing-4;
    }
}


.loading {
    width: 100%;
    text-align: center;

    img {
        height: $spacing-28;
    }
}

.skeleton-tabs {
    width: 100%;
    grid-auto-flow: column;
    display: grid;
    align-items: center;
    gap: $spacing-28;
}

.skeleton-main-item {
    position: relative;
}

.skeleton-left-item {
    float: left;
}

.skeleton-right-item {
    float: left;
    width: 80%;

    @include Breakpoint-tabletOnly {
        width: 60%;
    }
}