@import "../../styles/all.css";

.container {
  display: flex;

  width: 100%;

  margin-top: $spacing-8;

  background: $background-table-1-outer-2;

  border: 2px solid color($background-table-1-outer-2 alpha(50%));

  border-radius: $spacing-4;
}

.input {
  flex-grow: 1;
}
