@import "../../styles/all.css";

.close-cross {
  fill: $casper;
}

.close-cross:hover {
  fill: $baby-powder;
}

.arrow {
  fill: $casper;
}

.coins,
.logout {
  fill: $casper;
}

.rotate.casper {
  fill: $casper;
}
.rotate.pickled-bluewood {
  fill: $background-table-1-outer;
}

.undo.casper,
.sound.casper {
    fill: $casper;
}
.undo.pickled-bluewood,
.sound.pickled-bluewood{
    fill: $background-table-1-outer;
}

.dice-icon{
    width: $games-dice-size;
}

.roulette-icon{
    width: $games-roulette-size;
}

.game-icon{
    width: 170px;
}

.root {
  text-align: center;
  margin : $spacing-16 0;
}

.info-holder{
    padding: $spacing-4 $spacing-8;
    border-radius: $border-radius;
    width: fit-content;
    background-color: $primaryColor;
    margin: $spacing-8 $spacing-8 0 0;
}

.button {
  display: inline-block;

  background: none;

  text-decoration: none;
  width: 100%;
}

.image-container {
  align-items: center;
  width: 100%;
  margin: 0 0 $spacing-4 0;
  border-radius: $spacing-12;
  transition: margin 100ms linear;
}

.image-container:hover {
  margin: calc($spacing-8 * -1) 0 $spacing-8 0;

  transition: margin 200ms ease-out;
}

.image-container.firefly {
  background-color: $firefly;
}

.image-container.dice-background-color {
    background-color: $dice-background-color;
}

.image-container.roulette-background-color {
    background-color: $roulette-background-color;
}

.image-container.coinflip-background-color {
    background-color: $coinflip-background-color;
}

.labels {
  width: 100%;
}

.labels-edge {
  justify-content: flex-end;
  display: -webkit-inline-box;
  display: inline-flex;
  width: 100%;
}

.title {
  padding-bottom: $spacing-16;
  text-transform: uppercase;
  float: left;
  background-color: $primaryColor;
  padding: $spacing-4 $spacing-8;
  border-radius: $border-radius;
}

.icon {
  margin: 0 auto;
  transform: scale(1) rotate(0deg);
  transition: transform 800ms linear;
  padding-bottom: $spacing-16;
}

.image-container:hover .icon {
  transform: scale(1.01) rotate(-10deg);

  transition: transform 500ms linear;
}

