@import "../../styles/all.css";



.root {
  text-align: center;
  margin : 20px;
}

.button {
  display: inline-block;

  background: none;

  text-decoration: none;
}

.image-container {
  display: flex;
  align-items: center;
  width: $games-box-width;
  height: $games-box-heigth;

  margin: 0 0 $spacing-8 0;

  border-radius: $spacing-12;

  transition: margin 100ms linear;
}

.image-container:hover {
  margin: calc($spacing-4 * -1) 0 $spacing-12 0;

  transition: margin 200ms ease-out;
}

.image-container.firefly {
  background-color: $firefly;
}

.image-container.dice-background-color {
    background-color: $dice-background-color;
}

.image-container.roulette-background-color {
    background-color: $roulette-background-color;
}

.image-container.coinflip-background-color {
    background-color: $coinflip-background-color;
}

.labels {
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 30%;
}

.title {
  text-align: left;
}

.icon {
  margin: 0 auto;
  transform: scale(1) rotate(0deg);
  transition: transform 800ms linear;
}

.image-container:hover .icon {
  transform: scale(1.01) rotate(-10deg);

  transition: transform 500ms linear;
}

