@import "../../styles/reset.css";
@import "../../styles/all.css";

.main{
    width: 100%;
}

.center{
    width: 100%;
    padding-right: $chat-width-desktop;

    @media screen and (max-width: 1267px) and (min-width: 1024px) {
      padding-right: $chat-width-tablet-pro;
    }
    
    @media screen and (max-width: 1023px) {
      padding-right: $chat-width-tablet;
    }
  
    @media screen and (max-width: 767px) {
      padding-right: 0;
      padding-bottom: $spacing-36;
    }
}

.chat-container{
    height: -webkit-fill-available !important;
    z-index: 10;
    background-color: $chat-container-color;
}

.chat-container-outro{
    position: fixed;
    top : 0px;
    right: 0;
    height: 100%;
    width: $chat-width-desktop;

    @media screen and (max-width: 1267px) and (min-width: 1024px) {
      width: $chat-width-tablet-pro;
      display: inline;
    }
    
    @media screen and (max-width: 1023px) and (min-width: 768px) {
      width: $chat-width-tablet;
      display: inline;
    }
  
    @media screen and (max-width: 767px) {
      width: 100%;
      z-index: 9;
      display: none;
    }
}

.chatDisplay {
    display: inline;
    animation: chat-open-animation 1s running;
}

@keyframes chat-open-animation {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
}

.container {
    max-width: $content-width-desktop;
    @include Breakpoint-tabletAndAbove {
        max-width: $content-width-desktop;

        padding: calc($navbar-height + $spacing-36) $spacing-20 0 $spacing-20;
        margin: 0 auto;
    }

    @include Breakpoint-mobileOnly {
        width: 100%;

        max-width: $content-width-mobile;
        padding: calc($navbar-height + $spacing-36) 0 0 0;
        margin: 0 auto;
    }
}

.platform-holder-pad{
    @include Breakpoint-mobileOnly {
        padding: 0 !important;
        margin : 0 !important;
    }
}

.platform-container{
    width : 100%;
    left: 0;
}

.top-bars{
    margin-top: 60px;
    width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $spacing-52 $spacing-20;

  .tabs {
    width: 100%;
  }
}


.gif{
    width : 300px;
    position: fixed;
    margin-left: -130px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
}