@import "../../styles/all.css";

.table-row {
    width: 100%;
    background-color: $primaryColor;
}

.th-row {
    margin: auto;
    vertical-align: middle;
    padding: $spacing-12 $spacing-20;

    @media screen and (max-width: 767px) {
        padding: $spacing-4 $spacing-8;
    }
}

.th-row-img {
    padding: 0;
}

.th-row-currency {
    display: inline-flex;
    padding-top: $spacing-20;
    p {
        margin-right: $spacing-8;
    }

    a {
        display: inline-flex;
    }

    @media screen and (max-width: 767px) {
        padding-top: 38px;
    }
}

.image{
    display: flex;

    @media screen and (max-width: 767px) {
        display: block;
        margin-bottom: $spacing-8;
    }

    .icon {
        text-align: center;
        width: 55px;
        height: 40px;
        margin: $spacing-8;
        border-radius: $border-radius;
    }
}

.image-icon {
    height : 40px;
    margin-left: calc($spacing-8 * -1);
}

.image-name{
    margin: auto 0;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.table-head .tr-row{
    text-align: center;
    height: 42px;
    border-bottom: 1px solid $primaryColor-light-13;
}

.table-head .tr-row .th-row{
    padding: $spacing-8 $spacing-20;
}

.table-head .tr-row .th-row:first-child {
    text-align: left;
}

.table-head .tr-row .th-row:last-child {
    text-align: right;
}

.table-head {
}

.th-row-tab {
}

.table-row tbody .tr-row{
    text-align: center;
}

.table-row tbody .tr-row .th-row:first-child {
    text-align: left;
    border-top-left-radius: $spacing-8;
    border-bottom-left-radius: $spacing-8;
}

.table-row tbody .tr-row .th-row:last-child {
    text-align: right;
    border-top-right-radius: $spacing-8;
    border-bottom-right-radius: $spacing-8;
}

.no-info{
    padding: $spacing-28 0;
    margin: $spacing-8 0;
    background-color: $primaryColor;
    border-radius: $border-radius;
    opacity: 0.6;
    text-align: center;
}

.addRow {
    animation: new-row-animation 1s running;
}

@keyframes new-row-animation {
    0% {
        opacity: 1;
        transform: translateY(-80%);
    }
}

.skeleton-row {
    margin-top: $spacing-8;
}

