@import "../../styles/all.css";

.username {
  margin: $spacing-28 0 $spacing-16 0;
}

.password {
  margin-bottom: $spacing-16;
}

.button {
  margin-top: $spacing-20;
}

.button > button > div > img {
  width: $spacing-28;
}

.error {
  margin-top: $spacing-8;
}

.address {
  margin-top: $spacing-16;
}
