@import "../../styles/all.css";

.username {
  margin: $spacing-28 0 $spacing-16 0;
}

.password {
  margin-bottom: $spacing-16;
}

.button {
  margin-top: $spacing-20;
}

.button > button > div > img {
  width: $spacing-28;
}

.button > button {
  width: 100%;
}

.button > button > div {
  width: 100%;
}

.error {
  margin-top: $spacing-8;
}

.address {
  margin-top: $spacing-16;
}

.agree {
  display: inline-flex;
  border-radius: $border-radius;
  margin-top: $spacing-12;
  width: 100%;
}

.agree-right {
  margin: auto;
  margin-left: $spacing-8;
  opacity: 0.5;

  a {
    color: $secondaryColor;
    text-decoration: underline !important;
  }
}

.agree-main {
  display: inline-flex;
  align-items: center;
  margin: auto;
}

.birth-fields {
  margin: $spacing-8 calc($spacing-8 * -1) $spacing-8;
  display: flex;

  > * {
    flex: 1;
    margin: $spacing-8;
  }
}
