@import "../../styles/all.css";

.username {
  margin: $spacing-28 0 $spacing-16 0;
}

.password {
  margin-bottom: $spacing-16;
}

.button {
  margin-top: $spacing-20;
}

.button > button > div > img {
  width: $spacing-28;
}

.error {
  margin-top: $spacing-8;
}

.address {
  margin-top: $spacing-16;
}

.agree {
  display: inline-flex;
  align-items: flex-end;
  background-color: $backgroundColor;
  border-radius: $border-radius;
  margin-top: $spacing-12;
  padding: 0 $spacing-8;
  padding-bottom: $spacing-20;
}

.agree-right {
  margin-left: $spacing-12;
  margin-bottom: $spacing-4;
}
