@import "../../../../../styles/all.css";

.coin {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;

  * {
    border-radius: 50%;
    backface-visibility: hidden;
  }

  transform-style: preserve-3d;

  transition: transform 1s ease-in;
}

.side-head,
.side-tails {
  width: 70px;
  height: 70px;
  margin-top: $spacing-12;

  * {
    left: 17%;

    width: 50px;
  }
}

.side-head {
  background-color: $flipcoin-color-head;
  box-shadow: inset 0 0 15px color($tree-poppy alpha(70%));
}

.side-tails {
  background-color: $flipcoin-color-tails;
  box-shadow: inset 0 0 15px color($red alpha(50%));
}
