@import "../../../styles/all.css";

.root {
  text-align: center;
  margin : auto;
  margin-top : $spacing-88;
  width: 95%;
}

.container {
    @include Breakpoint-tabletAndAbove {
        max-width: $content-width-desktop;

        margin: 0 auto;
    }

    @include Breakpoint-mobileOnly {
        display: none;
    }
}

.bets-dropdown{
    margin-top : -20px;
}

.bets-dropdown-game{
    margin-top : -20px;
    width: 180px;
}