@import "../../styles/all.css";

.navigation-step{
    margin: auto $spacing-20;
    display: inline-flex;
    align-items: center;
    height: 100%;
    transition: all 0.2s ease-in;

    .img{
        width : 28px;
    }

    .text{
        margin-left: $spacing-8;
    }

    &:hover{
        opacity : 0.4;
        background-color : $navigation-bar-item;
    }

}