@import "../../styles/all.css";

.navigation-step{
    margin: auto $spacing-20;
    display: block;
    position: relative;
    height: auto;
    width: 150px;
    transition: all 0.2s ease-in;

    img{
        width : $spacing-16;
    }

    .img{
        float: left;
    }

    .text{
        margin-top : 0px;
        float: left;
        margin-left: $spacing-8;
    }

    &:hover{
        opacity : 0.4;
        background-color : $navigation-bar-item;
    }

}