@import "../../styles/all.css";

.root {
  width: 100%;
  min-width: 450px;

  @include Breakpoint-mobileOnly {
    min-width: 300px;
    margin: 0 auto;
  }
}

.main-container{

    justify-content: center;
    grid-column-gap: $spacing-28;
    grid-row-gap: $spacing-28;
    max-width : 1020px;
    padding-left : 2%;
    padding-right : 2%;
    grid-template-columns: repeat(3, 290px);
    padding-top : $spacing-28;
    margin: 0 auto;

    @include Breakpoint-mobileOnly {
        padding-top : 30px;
        padding: 10px;
    }
}


.container {
    display: block;
    grid-template-columns: 310px 1fr;
    margin : 0px;
    box-sizing: border-box;
    background-color: $background-table-1-outer;

    min-width: 450px;

    border-radius: $spacing-12;

    box-shadow: color(#000 alpha(75%)) 0px 0px 10px;

    @media screen and (max-width: 1023px) and (min-width: 768px) {
        margin: 0 auto;
    }
    
    @media screen and (max-width: 767px) {
        min-height: 42vw;
        grid-template-columns: 100%;
        width: 100%;
        margin: 0 auto;
        box-shadow: unset;
        min-width: 300px;
    }
}

.game{
    position: relative;

    display: block;
    width: 100%;

    @media screen and (max-width: 767px) {
        order: 1;
    }
}

.options {
  padding : 0;
  background-color: $background-table-1-outer;
}

.card {
  padding : 0;
  background-color: $background-main-table;
}

.game-page-container{

    margin-left: 0;
    margin-right: 0;

    @media screen and (max-width: 1267px) and (min-width: 1024px) {
    }

    @media screen and (max-width: 767px) {
        height: auto;
        margin: 0;
    }
}


.options-container {
    background-color: $background-table-1-outer;
    border-radius: $border-radius 0 0 $border-radius;

  @include Breakpoint-mobileOnly {
    order: 2;
    width: 100%;
  }
}

.history {
  position: absolute;

  top: 0;

  right: 0;

  width: 100%;

  overflow: hidden;

  @include Breakpoint-mobileOnly {
    display: none;
  }
}

.buttons {
    display: inline-block;
    width: 100%;
    margin: $spacing-20 0 0 0;
}

.sound {
  float: right;

  @include Breakpoint-tabletOnly {
  }

  @include Breakpoint-mobileOnly {
  }

  button {
    margin: 0 0 0 auto;

    div {
      @include Breakpoint-mobileOnly {
        margin-top: 0;
      }
    }
  }
}
    
.actions {
  float: left;

  button {
      margin: 0 0 0 auto;
  
      div {
        @include Breakpoint-mobileOnly {
          margin-top: 0;
        }
      }
    }
}

.tabs {
  width: 100%;
}
