@import "../../styles/all.css";

.box {
    padding: $spacing-8 12%;

    @include Breakpoint-mobileOnly {
        padding: $spacing-8 5%;
    }
}

.field{
    grid-template-columns: auto auto;
    display: grid;
    margin-bottom: $spacing-20;
}

.label{
    text-align: left;
    opacity: 0.5;
}

.value{
    justify-content: flex-end;
    display: inline-flex;
}

.button{
    margin-top : $spacing-52;

    button {
        width: 100%;
    }
}

.button-kyc-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-kyc{
    height: 250px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: $spacing-20;
    border-radius: 10px;
    background-color: $primaryColor-8;

}
.flex-kyc{
    display: flex;
    align-items: center;
}

.background-kyc{
    background-color: $primaryColor-2;
    padding: 15px;
    border-radius: 5px;
    flex-direction: column;
}

