@import "../../styles/all.css";

.banners{
    max-width: $content-width-desktop;
    min-width: 300px;
    margin: auto;
    padding-top: $spacing-20;
}

.banner{
    display: grid;
    grid-template-areas: "info image";
    width: 100%;
    position: relative;
    grid-template-columns: 40% 60%;
    height: 300px;
    border-radius: $border-radius;
    background-color: $primaryColor;
    box-shadow: 1px 4px 10px 0px #000;

    @media screen and (max-width: 1267px) {
        grid-template-columns: 1fr;
    }
}

.text{
    margin: auto 0;
    text-align: left;
    padding: $spacing-28;
    border-radius: $border-radius 0px 0px $border-radius;

    @media screen and (max-width: 1267px) {
        display: none;
    }
}

.text-image{
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: $spacing-28;
    text-align: left;
    display: none;

    @media screen and (max-width: 1267px) {
        display: inline;
        border-radius: $border-radius;
    }
}

.text-image-show{
    background: rgba(0, 0, 0, 0);
}

.fields{
    margin-bottom: $spacing-16;
}

.image{
    background-position: center center;
    border-radius: 0px $border-radius $border-radius 0px;

    @media screen and (max-width: 1267px) {
        border-radius: $border-radius;
    }
}