@import "../../../styles/all.css";


.a {
    fill:  $seventhColor-13; /*#084eaa*/
}

.b {
    fill: $seventhColor; /*#0b69e8;*/
}

.c {
    fill: $heightColor-13; /*#d54bac;*/
}

.d {
    fill: $heightColor; /*#f18fe8;*/
}

.e {
    fill: #000;
}

.f {
    fill: #fff;
}

.g {
    fill: none;
}