@import "../../styles/all.css";

.footer {
    text-align: center;
    padding : $spacing-36;
    margin-top : $spacing-16;
    background-color : $footer-background;
    border-radius: $border-radius;
}



.container {
    justify-content: center;

    grid-column-gap: $spacing-28;
    grid-row-gap: $spacing-28;

    grid-template-columns: repeat(3, 290px);

    @include Breakpoint-tabletAndAbove {
        max-width: $content-width-desktop;
        padding-top : 10px !important;
        padding: calc($navbar-height + $spacing-36) $spacing-8 0 $spacing-8;
        margin: 0 auto;
    }

    @include Breakpoint-mobileOnly {
        width: 100%;

        max-width: $content-width-mobile;
        padding: calc($spacing-36) 0 0 0;
        margin: 0 auto;
    }

    @include Breakpoint-tabletOnly {
        padding: 0 $spacing-20 0 $spacing-20;
        grid-template-columns: 1fr;
    }

}

.left{
    text-align: left;
}

.title{
    margin : $spacing-20;
    margin-left : 0;
}

.item{
    margin : $spacing-8;
    margin-left : 0;
    display : block;
    position : relative;
}

.logo{
    width : 200;
    align-self: left;
    float: left;
}

.item:hover{
    opacity : 0.6 !important;  
}

.no-hover-item{
    margin : $spacing-8;
    margin-left : 0;
    display : block;
    position : relative;
}

.coin {
  background-color: $tree-poppy;
  border-radius: 50%;
  box-shadow: inset 0 0 15px color($red alpha(50%));
}



.footer-info{
    text-align: left;
    margin-top : 20px;
}

.footer-language-picker{
    text-align: left;
    position: relative;
    display: none;
    width: 200px;

    @include Breakpoint-mobileOnly {
        display : block;
    }
}

.bepro-made-by-logo{
    width : 80px;
    height: 80px;

    @include Breakpoint-mobileOnly {
        display : block;
        margin-top : $spacing-12;
    }
}