@import "../../styles/all.css";

.root {
  position: relative;
  display: block;
  width: 450px;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-52 $spacing-20 0 $spacing-20;

  @include Breakpoint-mobileOnly {
    width: 320px;
    padding: $spacing-52 0;
    margin: auto;
    position: relative;
  }
}

.root-code {
  position: relative;
  display: block;
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacing-36 $spacing-20;
  border-top: 1px solid $backgroundColor;

  @include Breakpoint-mobileOnly {
    width: auto;
    position: relative;
  }
}

.content {
  text-align: center;
  border-top: 1px solid $primaryColor-5;
  width: 100%;
}

.content > div {
  width: 400px;

  @include Breakpoint-mobileOnly {
    width: 100%;
  }
}

.qrcode {
  padding: $spacing-16;
  background-color: $backgroundColor;
  width: 160px;
  margin: 0 auto;
  border-radius: $border-radius;
}

.qrcode canvas {
  position: unset;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.token2FA {
  margin: $spacing-52 0;
}
