@import "../../../styles/all.css";


.tab:not(.selected) {
  &:hover {
    /*background-color: $dodger-blue;*/
    * {
      color: $white;
      opacity: 1;
    }
  }
}

.tab {
  background-color: $thirdColor;
  height: 100%;
  text-align: center;

  * {
    color: $mercury;
    opacity: 0.75;
  }

  button {
    width: auto;
    border-radius: $border-radius;
    padding: $spacing-8;
    background-color: inherit;
    cursor: pointer;
    outline: none;
    min-height: 40px;
    display: inline-flex;
    align-items: center;

    * {
      cursor: pointer;
    }

    @media screen and (max-width: 767px) {
      display: block;
      text-align: center;
    }
  }
}

.selected{
  background-color: $backgroundColor;

  * {
    color: $white;
    opacity: 1;
  }
}

.icon {
  width: 40px;
  margin: auto;
  margin-right: $spacing-16;

  @media screen and (max-width: 767px) {
    float: none;
    margin-bottom: $spacing-8;
    margin: auto;
    width: 30px;
  }
}

.label {
  margin: auto;

  @media screen and (max-width: 1023px) {
    margin-left: $spacing-8;
  }

  @media screen and (max-width: 767px) {
    margin-left: 0;
    float: left;
  }
}

