@import "../../styles/all.css";

.box {
    padding: $spacing-8 5%;

    @include Breakpoint-mobileOnly {
        padding: $spacing-8 5%;
    }
}

.field{
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin-bottom: $spacing-20;
    gap: $spacing-28;

    @include Breakpoint-mobileOnly {
        grid-template-columns: 25% 75%;
    }
}

.label{
    text-align: right;
    opacity: 0.5;
}

.value{
    display: inline-flex;
}

.button{
    margin-top : $spacing-52;

    div {
        padding: $spacing-4 $spacing-52;
    }
}

.button-container{
    width: 300px;
    height: 250px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-bottom: $spacing-20;
    border-radius: 10px;
    background-color: $primaryColor-3;
}